In [2]:
import pandas as pd

In [3]:
top = pd.read_csv('top_5_productos_geozona.csv')
top[(top['vendor_id'] == 1303)]

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor
1919,1616,7501573900443,121.0,5.10,Estado de México,1303,Estado de México,4.70,0.0,4.70,568.70,NaN,568.70
1944,1616,7502227877722,6.0,57.82,Estado de México,1303,Estado de México,53.03,0.0,53.03,318.18,NaN,318.18
1952,1616,7501825304142,28.0,12.50,Estado de México,1303,Estado de México,10.56,0.0,10.56,295.68,NaN,295.68
1988,1729,7501573905417,15.0,14.35,Estado de México,1303,Estado de México,13.90,0.0,13.90,208.50,1.0,208.50
1996,2277,7503001008684,5.0,42.41,Estado de México,1303,Estado de México,36.60,0.0,36.60,183.00,1.0,183.00
2017,1729,7503001007090,8.0,21.59,Estado de México,1303,Estado de México,18.65,0.0,18.65,149.20,1.0,149.20
2042,1616,7501258203395,5.0,26.35,Estado de México,1303,Estado de México,24.17,0.0,24.17,120.85,NaN,120.85
2166,1616,7502211783657,1.0,71.90,Estado de México,1303,Estado de México,40.53,0.0,40.53,40.53,NaN,40.53
2199,2119,7503001007199,1.0,33.02,Estado de México,1303,Estado de México,29.20,0.0,29.20,29.20,NaN,29.20
2202,1616,7502208892645,1.0,35.59,Estado de México,1303,Estado de México,28.22,0.0,28.22,28.22,NaN,28.22
2220,1601,7501048692187,2.0,17.19,Estado de México,1303,Estado de México,11.04,0.0,11.04,22.08,NaN,22.08
2224,2119,7502211783275,1.0,28.73,Estado de México,1303,Estado de México,19.68,0.0,19.68,19.68,NaN,19.68
2238,2119,7501573904755,4.0,38.24,Estado de México,1303,Estado de México,2.10,0.0,2.10,8.40,NaN,8.40

In [4]:
top[(top['name'] == 'CDMX')] #& (top['name']=='CDMX')]

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, unidades_pedidas, precio_minimo, geo_zone, vendor_id, name, base_price, percentage, precio_vendedor, precio_total_vendedor, status, valor_total_vendedor]
Index: []

In [5]:
orders = pd.read_csv('orders_delivered_pos_vendor_geozone.csv')
orders[(orders['vendor_id']==10608) & (orders['geo_zone']=='CDMX')]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
27564,1794,8400009265,242872,2025-01-25 03:00:05,1.0,85.940,10608,85.940,CDMX,MX
27578,1794,7501159526029,242872,2025-01-25 03:00:05,1.0,288.248,10608,288.248,CDMX,MX
27580,1794,7501258203586,242872,2025-01-25 03:00:05,3.0,29.550,10608,88.650,CDMX,MX
27581,1794,7501258203593,242872,2025-01-25 03:00:05,1.0,23.500,10608,23.500,CDMX,MX
27583,1794,7501299370360,242872,2025-01-25 03:00:05,3.0,32.280,10608,96.840,CDMX,MX
27592,1794,7501537102982,242872,2025-01-25 03:00:05,2.0,20.000,10608,40.000,CDMX,MX
27593,1794,7501537102999,242872,2025-01-25 03:00:05,7.0,10.500,10608,73.500,CDMX,MX
27597,1794,7501573903260,242872,2025-01-25 03:00:05,3.0,14.770,10608,44.310,CDMX,MX
27604,1794,7502009741753,242872,2025-01-25 03:00:05,1.0,12.140,10608,12.140,CDMX,MX
27607,1794,7502211784043,242872,2025-01-25 03:00:05,1.0,28.870,10608,28.870,CDMX,MX
27616,1794,7503027446279,242872,2025-01-25 03:00:05,10.0,22.107,10608,221.070,CDMX,MX
27620,1794,821998000250,242872,2025-01-25 03:00:05,1.0,41.180,10608,41.180,CDMX,MX

In [6]:
orders = pd.read_csv('orders_delivered_pos_vendor_geozone.csv')

In [7]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75000950,239442,2025-01-16 02:27:02,12.0,14.82,11,177.84,CDMX,MX
1,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.71,11,213.55,CDMX,MX
2,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.04,11,162.24,CDMX,MX
3,1182,75002794,239442,2025-01-16 02:27:02,6.0,25.64,11,153.84,CDMX,MX
4,1182,75006433,237002,2025-01-09 03:54:07,10.0,12.59,34,125.90,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
79381,2312,7502009740244,236410,2025-01-07 21:46:02,40.0,5.74,229,229.60,Michoacán,MX
79382,2312,7502216792920,236410,2025-01-07 21:46:02,40.0,45.51,24,1820.40,Michoacán,MX
79383,2312,7502227427392,236410,2025-01-07 21:46:02,20.0,18.03,42,360.60,Michoacán,MX
79384,2174,7502208891228,234979,2025-01-02 22:27:58,220.0,22.82,24,5020.40,Estado de México,MX
79385,2174,7502208891235,234979,2025-01-02 22:27:58,300.0,19.32,24,5796.00,Estado de México,MX

In [8]:
df_pos_address = pd.read_csv('pos_address.csv')

In [9]:
def obtener_geo_zone(address):
    partes = address.split(', ')
    return ', '.join(partes[-2:-1])
    
df_pos_address['geo_zone'] = df_pos_address['address'].apply(obtener_geo_zone)

In [10]:
df_pedidos = pd.read_csv('orders_simple.csv')
df_proveedores = pd.read_csv('vendors_catalog.csv')
pos_geo_zones = df_pos_address[['point_of_sale_id','geo_zone']]
pos_geo_zones

      point_of_sale_id      geo_zone
0                    4  Buenos Aires
1                    5  Buenos Aires
2                   10  Buenos Aires
3                   11  Buenos Aires
4                   12  Buenos Aires
...                ...           ...
2333              2341  Cundinamarca
2334              2342         Sucre
2335              2343     Querétaro
2336              2344     Chihuahua
2337              2345       Jalisco

[2338 rows x 2 columns]

In [11]:
df_proveedores['percentage'].fillna(0,inplace=True)

/tmp/ipykernel_10874/3916416807.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_proveedores['percentage'].fillna(0,inplace=True)

In [12]:
df_proveedores[df_proveedores['percentage'].isna()]

Empty DataFrame
Columns: [vendor_id, super_catalog_id, name, base_price, percentage]
Index: []

In [13]:
filtro = pos_geo_zones['geo_zone'].str.contains(r'\.')
pos_geo_zones[filtro]['geo_zone'].unique()
pos_geo_zones['geo_zone'] = pos_geo_zones['geo_zone'].replace({'B.C.S.':'Baja California Sur', 'Qro.':'Querétaro', 'Jal.':'Jalisco','Pue.':'Puebla', 'Méx.':'CDMX','Oax.':'Oaxaca','Chih.':'Chihuahua','Coah.':'Coahuila de Zaragoza','Mich.':'Michoacán de Ocampo', 'Ver.':'Veracruz de Ignacio de la Llave', 'Chis.':'Chiapas','N.L.':'Nuevo León','Hgo.':'Hidalgo','Tlax.':'Tlaxcala','Tamps.':'Tamaulipas','Yuc.':'Yucatan','Mor.':'Morelos','Sin.':'Sinaloa','S.L.P.':'San Luis Potosí','Q.R.':'Quintana Roo','Dgo.':'Durango','B.C.':'Baja California','Gto.':'Guanajuato','Camp.':'Campeche','Tab.':'Tabasco','Son.':'Sonora','Gro.':'Guerrero','Zac.':'Zacatecas','Ags.':'Aguascalientes', 'Nay.':'Nayarit'})

/tmp/ipykernel_10874/1442705292.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pos_geo_zones['geo_zone'] = pos_geo_zones['geo_zone'].replace({'B.C.S.':'Baja California Sur', 'Qro.':'Querétaro', 'Jal.':'Jalisco','Pue.':'Puebla', 'Méx.':'CDMX','Oax.':'Oaxaca','Chih.':'Chihuahua','Coah.':'Coahuila de Zaragoza','Mich.':'Michoacán de Ocampo', 'Ver.':'Veracruz de Ignacio de la Llave', 'Chis.':'Chiapas','N.L.':'Nuevo León','Hgo.':'Hidalgo','Tlax.':'Tlaxcala','Tamps.':'Tamaulipas','Yuc.':'Yucatan','Mor.':'Morelos','Sin.':'Sinaloa','S.L.P.':'San Luis Potosí','Q.R.':'Quintana Roo','Dgo.':'Durango','B.C.':'Baja California','Gto.':'Guanajuato','Camp.':'Campeche','Tab.':'Tabasco','Son.':'Sonora','Gro.':'Guerrero','Zac.':'Zacatecas','Ags.':'Aguascalientes', 'Nay.':'Nayarit'})

In [14]:
df_proveedores_nacional = df_proveedores[df_proveedores['name'] == 'México'].copy()
df_proveedores_regional = df_proveedores[df_proveedores['name'] != 'México'].copy()

df_pedidos_zonas = pd.merge(df_pedidos, pos_geo_zones, on='point_of_sale_id', how='left')
df_pedidos_zonas = df_pedidos_zonas[df_pedidos_zonas['unidades_pedidas']>0]


df_pedidos_proveedores_nacional = pd.merge(df_pedidos_zonas, df_proveedores_nacional, on = 'super_catalog_id', how = 'inner')

df_pedidos_proveedores_nacional=df_pedidos_proveedores_nacional[df_pedidos_proveedores_nacional['unidades_pedidas']>0]

df_pedidos_proveedores_regional = pd.merge(df_pedidos_zonas, df_proveedores_regional, left_on = ['super_catalog_id','geo_zone'], right_on = ['super_catalog_id','name'], how = 'inner')

df_pedidos_proveedores_regional=df_pedidos_proveedores_regional[df_pedidos_proveedores_regional['unidades_pedidas']>0]


df_pedidos_proveedores_nacional['base_price'] = df_pedidos_proveedores_nacional['base_price'].astype(float)
#df_proveedores['precio_vendedor']=df_proveedores['precio_vendedor'].astype(float)
df_pedidos_proveedores_nacional['percentage'] = df_pedidos_proveedores_nacional['percentage'].astype(float)

df_pedidos_proveedores_regional['base_price'] = df_pedidos_proveedores_regional['base_price'].astype(float)
#df_proveedores['precio_vendedor']=df_proveedores['precio_vendedor'].astype(float)
df_pedidos_proveedores_regional['percentage'] = df_pedidos_proveedores_regional['percentage'].astype(float)


df_pedidos_proveedores_nacional['precio_vendedor'] = df_pedidos_proveedores_nacional['base_price'] + (df_pedidos_proveedores_nacional['base_price'] * df_pedidos_proveedores_nacional['percentage'] / 100)
df_pedidos_proveedores_regional['precio_vendedor'] = df_pedidos_proveedores_regional['base_price'] + (df_pedidos_proveedores_regional['base_price'] * df_pedidos_proveedores_regional['percentage'] / 100)


df_pedidos_proveedores = pd.concat([df_pedidos_proveedores_regional, df_pedidos_proveedores_nacional], axis=0)
df_pedidos_proveedores_unique = df_pedidos_proveedores.drop_duplicates(subset=['super_catalog_id', 'vendor_id', 'geo_zone'])

df_pedidos_proveedores_unique['precio_total_vendedor'] = df_pedidos_proveedores_unique['unidades_pedidas'].astype(float) * df_pedidos_proveedores_unique['precio_vendedor'].astype(float)

/tmp/ipykernel_10874/1689331529.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pedidos_proveedores_unique['precio_total_vendedor'] = df_pedidos_proveedores_unique['unidades_pedidas'].astype(float) * df_pedidos_proveedores_unique['precio_vendedor'].astype(float)

In [15]:
df_vendors_pos = pd.read_csv('vendor_pos_relations.csv')

In [16]:
df_pedidos_proveedores_unique = pd.merge(df_pedidos_proveedores_unique,df_vendors_pos,on = ['point_of_sale_id','vendor_id'], how = 'left')

In [17]:
df_precio_inferior_por_vendor = df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['precio_vendedor'].astype(float) < df_pedidos_proveedores_unique['precio_minimo'].astype(float)]

        # Calcular el total de productos con precio inferior para cada vendor
productos_con_precio_inferior_por_vendor = df_precio_inferior_por_vendor.groupby('vendor_id')['super_catalog_id'].nunique().reset_index()
productos_con_precio_inferior_por_vendor.columns = ['vendor_id', 'total_productos_con_precio_inferior']

        # Calcular el valor total (unidades * precio_vendedor) donde el vendor tiene un precio inferior para cada vendor
df_precio_inferior_por_vendor['valor_total_vendedor'] = df_precio_inferior_por_vendor['unidades_pedidas'].astype(float) * df_precio_inferior_por_vendor['precio_vendedor'].astype(float)

        # Calcular la suma de productos donde el vendor tiene un precio inferior para cada vendor
        # Agrupar por vendor y sumar el valor total donde el vendor tiene un precio inferior
suma_valor_total_precio_inferior_por_vendor = df_precio_inferior_por_vendor.groupby('vendor_id')['valor_total_vendedor'].sum().reset_index()
suma_valor_total_precio_inferior_por_vendor.columns = ['vendor_id', 'suma_valor_total_vendedor']


#csv_buffer_10 = productos_con_precio_inferior_por_vendor_90.to_csv(index = False)
#csv_buffer_11 = suma_valor_total_precio_inferior_por_vendor_90.to_csv(index = False)


        # PARETO BONDS

idx_min_price_per_product = df_precio_inferior_por_vendor.groupby('super_catalog_id')['precio_vendedor'].idxmin()

        # Crear un nuevo DataFrame con solo los vendors que ofrecen el menor precio por cada producto
df_mejor_precio_por_producto = df_precio_inferior_por_vendor.loc[idx_min_price_per_product].reset_index(drop=True)

/tmp/ipykernel_10874/2931396268.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_precio_inferior_por_vendor['valor_total_vendedor'] = df_precio_inferior_por_vendor['unidades_pedidas'].astype(float) * df_precio_inferior_por_vendor['precio_vendedor'].astype(float)

In [18]:
df_pedidos_proveedores_unique

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
0,1238,8400005656,1.0,64.48,Hidalgo,1161,Hidalgo,51.1182,0.0,51.1182,51.1182,1.0
1,1748,8400005656,1.0,48.79,Chiapas,1151,Chiapas,58.0300,0.0,58.0300,58.0300,NaN
2,1291,8400005823,5.0,45.04,Hidalgo,1161,Hidalgo,52.3506,0.0,52.3506,261.7530,0.0
3,1238,20800753067,4.0,78.48,Hidalgo,1161,Hidalgo,91.8182,0.0,91.8182,367.2728,1.0
4,1679,20800753067,3.0,81.33,Guanajuato,1161,Guanajuato,91.8182,0.0,91.8182,275.4546,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
85328,1824,891671002277,1.0,507.87,Durango,1156,México,534.6000,0.0,534.6000,534.6000,0.0
85329,2306,891671002277,1.0,579.88,Oaxaca,1156,México,534.6000,0.0,534.6000,534.6000,NaN
85330,1320,9002240001022,2.0,113.15,Sonora,1156,México,110.0200,0.0,110.0200,220.0400,0.0
85331,1311,93815704270,1.0,164.51,CDMX,1159,México,189.1496,0.0,189.1496,189.1496,NaN
85332,1601,93815704270,1.0,164.51,Estado de México,1159,México,189.1496,0.0,189.1496,189.1496,NaN

In [19]:
min_prices = pd.read_csv('top_5_productos_geozona.csv')

In [20]:
import pandas as pd
import numpy as np

def analyze_price_differences(vendors_catalog_path, min_prices_path):
    # Leer los archivos CSV
    min_prices_df = pd.read_csv(min_prices_path)
    vendors_catalog_df = pd.read_csv(vendors_catalog_path)
    
    # Crear precio de venta en el catálogo de vendors con la fórmula corregida
    vendors_catalog_df['precio_vendedor'] = vendors_catalog_df['base_price'] + (vendors_catalog_df['base_price'] * vendors_catalog_df['percentage']/100)
    
    # Obtener precios mínimos únicos por producto
    min_prices_reference = min_prices_df[['super_catalog_id', 'precio_minimo']].drop_duplicates()
    
    # Unir con el catálogo de vendors
    df_comparacion = pd.merge(
        vendors_catalog_df,
        min_prices_reference,
        on='super_catalog_id',
        how='inner'
    )
    
    # Calcular diferencia porcentual
    df_comparacion['diferencia_porcentual'] = (
        (df_comparacion['precio_vendedor'] - df_comparacion['precio_minimo']) / 
        df_comparacion['precio_minimo'] * 100
    )
    
    # Agregar columna de diferencia absoluta
    df_comparacion['diferencia_absoluta'] = df_comparacion['diferencia_porcentual'].abs()
    
    # Categorizar las diferencias usando el valor absoluto
    def categorizar_diferencia(diferencia_abs):
        if diferencia_abs <= 5:
            return 'hasta_5_porciento'
        elif diferencia_abs <= 15:
            return 'hasta_15_porciento'
        else:
            return 'mayor_15_porciento'
    
    df_comparacion['categoria_diferencia'] = df_comparacion['diferencia_absoluta'].apply(categorizar_diferencia)
    
    # Crear resúmenes
    resumen_por_categoria = df_comparacion.groupby('categoria_diferencia').agg({
        'super_catalog_id': 'count',
        'vendor_id': lambda x: len(x.unique())
    }).reset_index()
    
    resumen_por_categoria.columns = [
        'categoria_diferencia',
        'cantidad_productos',
        'cantidad_vendors'
    ]
    
    resumen_por_vendor = df_comparacion.groupby(['vendor_id', 'categoria_diferencia']).agg({
        'super_catalog_id': 'count',
        'diferencia_porcentual': ['mean', 'min', 'max'],
        'diferencia_absoluta': 'mean'
    }).reset_index()
    
    resumen_por_vendor.columns = [
        'vendor_id',
        'categoria_diferencia',
        'cantidad_productos',
        'diferencia_promedio',
        'diferencia_minima',
        'diferencia_maxima',
        'diferencia_absoluta_promedio'
    ]
    
    # Identificar productos más representativos por categoría
    productos_representativos = df_comparacion.sort_values('diferencia_absoluta').groupby('categoria_diferencia').head(5)
    
    return {
        'detalle_completo': df_comparacion,
        'resumen_por_categoria': resumen_por_categoria,
        'resumen_por_vendor': resumen_por_vendor,
        'productos_representativos': productos_representativos[['super_catalog_id', 'vendor_id', 
                                                             'precio_vendedor', 'precio_minimo', 
                                                             'diferencia_porcentual', 'diferencia_absoluta',
                                                             'categoria_diferencia']]
    }

# Ejemplo de uso:
resultados = analyze_price_differences('vendors_catalog.csv', 'top_5_productos_geozona.csv')

# Mostrar resultados
display("\nResumen por categoría:")
display(resultados['resumen_por_categoria'])

display("\nEjemplos de productos representativos por categoría:")
for categoria in ['hasta_5_porciento', 'hasta_15_porciento', 'mayor_15_porciento']:
    display(f"\n{categoria}:")
    subset = resultados['productos_representativos'][
        resultados['productos_representativos']['categoria_diferencia'] == categoria
    ]
    display(subset[['super_catalog_id', 'vendor_id', 'precio_vendedor', 
                 'precio_minimo', 'diferencia_porcentual', 'diferencia_absoluta']])

'\nResumen por categoría:'

  categoria_diferencia  cantidad_productos  cantidad_vendors
0   hasta_15_porciento                8445                15
1    hasta_5_porciento                5496                15
2   mayor_15_porciento               24337                16

'\nEjemplos de productos representativos por categoría:'

'\nhasta_5_porciento:'

,super_catalog_id,vendor_id,precio_vendedor,precio_minimo,diferencia_porcentual,diferencia_absoluta
959,7502276040641,1156,16.00,16.00,0.0,0.0
32166,7501825300618,1159,36.83,36.83,0.0,0.0
34769,7501537105471,1373,21.43,21.43,0.0,0.0
28499,7502008986995,1163,52.80,52.80,0.0,0.0
27146,7502006922629,1275,44.30,44.30,0.0,0.0

'\nhasta_15_porciento:'

,super_catalog_id,vendor_id,precio_vendedor,precio_minimo,diferencia_porcentual,diferencia_absoluta
236,7501298216812,1156,1054.0600,1109.54,-5.000270,5.000270
372,7501298222424,1156,827.6700,871.24,-5.000918,5.000918
34391,7501825300533,1373,35.1300,36.98,-5.002704,5.002704
37151,7501825300533,1373,35.1300,36.98,-5.002704,5.002704
32529,7501088575594,1159,109.2836,115.04,-5.003825,5.003825

'\nmayor_15_porciento:'

,super_catalog_id,vendor_id,precio_vendedor,precio_minimo,diferencia_porcentual,diferencia_absoluta
13644,780083149024,1152,29.41,34.6,-15.0,15.0
2951,780083144807,1151,23.92,20.8,15.0,15.0
10148,780083144807,1151,23.92,20.8,15.0,15.0
10149,780083144807,1151,23.92,20.8,15.0,15.0
28401,7501075721256,1163,52.87,62.2,-15.0,15.0

In [21]:
df_pedidos_proveedores_unique

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
0,1238,8400005656,1.0,64.48,Hidalgo,1161,Hidalgo,51.1182,0.0,51.1182,51.1182,1.0
1,1748,8400005656,1.0,48.79,Chiapas,1151,Chiapas,58.0300,0.0,58.0300,58.0300,NaN
2,1291,8400005823,5.0,45.04,Hidalgo,1161,Hidalgo,52.3506,0.0,52.3506,261.7530,0.0
3,1238,20800753067,4.0,78.48,Hidalgo,1161,Hidalgo,91.8182,0.0,91.8182,367.2728,1.0
4,1679,20800753067,3.0,81.33,Guanajuato,1161,Guanajuato,91.8182,0.0,91.8182,275.4546,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
85328,1824,891671002277,1.0,507.87,Durango,1156,México,534.6000,0.0,534.6000,534.6000,0.0
85329,2306,891671002277,1.0,579.88,Oaxaca,1156,México,534.6000,0.0,534.6000,534.6000,NaN
85330,1320,9002240001022,2.0,113.15,Sonora,1156,México,110.0200,0.0,110.0200,220.0400,0.0
85331,1311,93815704270,1.0,164.51,CDMX,1159,México,189.1496,0.0,189.1496,189.1496,NaN
85332,1601,93815704270,1.0,164.51,Estado de México,1159,México,189.1496,0.0,189.1496,189.1496,NaN

In [22]:
df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['super_catalog_id']==736085412734]

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
15103,1097,736085412734,1.0,667.67,Baja California Sur,1156,México,733.2700,0.0,733.2700,733.2700,NaN
15104,1097,736085412734,1.0,667.67,Baja California Sur,1159,México,672.0576,0.0,672.0576,672.0576,NaN
15105,1291,736085412734,1.0,643.29,Hidalgo,1156,México,733.2700,0.0,733.2700,733.2700,2.0
15106,1291,736085412734,1.0,643.29,Hidalgo,1159,México,672.0576,0.0,672.0576,672.0576,1.0
15107,1311,736085412734,1.0,643.29,CDMX,1156,México,733.2700,0.0,733.2700,733.2700,NaN
15108,1311,736085412734,1.0,643.29,CDMX,1159,México,672.0576,0.0,672.0576,672.0576,NaN
15109,1601,736085412734,2.0,643.29,Estado de México,1156,México,733.2700,0.0,733.2700,1466.5400,NaN
15110,1601,736085412734,2.0,643.29,Estado de México,1159,México,672.0576,0.0,672.0576,1344.1152,NaN
15111,1610,736085412734,1.0,670.86,Nuevo León,1156,México,733.2700,0.0,733.2700,733.2700,NaN
15112,1610,736085412734,1.0,670.86,Nuevo León,1159,México,672.0576,0.0,672.0576,672.0576,1.0
15113,1673,736085412734,34.0,634.00,Michoacán,1156,México,733.2700,0.0,733.2700,24931.1800,NaN
15114,1673,736085412734,34.0,634.00,Michoacán,1159,México,672.0576,0.0,672.0576,22849.9584,NaN
15115,1679,736085412734,12.0,632.21,Guanajuato,1156,México,733.2700,0.0,733.2700,8799.2400,NaN
15116,1679,736085412734,12.0,632.21,Guanajuato,1159,México,672.0576,0.0,672.0576,8064.6912,NaN

In [23]:
df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['precio_vendedor']<df_pedidos_proveedores_unique['precio_minimo']]['super_catalog_id'].nunique()

4346

In [24]:
df_pedidos_proveedores_unique['point_of_sale_id']

0        1238
1        1748
2        1291
3        1238
4        1679
         ...
85328    1824
85329    2306
85330    1320
85331    1311
85332    1601
Name: point_of_sale_id, Length: 85333, dtype: int64

In [25]:
# 1. Primero, obtenemos los precios mínimos junto con el vendor_id
min_prices = df_pedidos_proveedores_unique.loc[
    df_pedidos_proveedores_unique.groupby('super_catalog_id')['precio_minimo'].idxmin(), 
    ['super_catalog_id','point_of_sale_id', 'precio_minimo', 'vendor_id']
].reset_index(drop=True).sort_values(by='precio_minimo', ascending=True)

#min_prices.columns = ['super_catalog_id', 'precio_minimo_orders', 'vendor_id']



display(min_prices)
# 2. Renombramos las columnas
min_prices.columns = ['super_catalog_id', 'precio_minimo_orders']  # Usamos vendor_id_min para evitar confusión

# 3. Hacemos el merge
df_precios_comparados = pd.merge(
    df_pedidos_proveedores_unique,
    min_prices,
    on=['super_catalog_id'],#'point_of_sale_id', 'vendor_id'],
    how='inner'
)
display('precios_comparados')
display(df_precios_comparados)
# 4. Calculamos la diferencia porcentual
df_precios_comparados['diferencia_porcentual'] = (
    (df_precios_comparados['precio_vendedor'].astype(float) - 
     df_precios_comparados['precio_minimo_orders'].astype(float)) / 
    df_precios_comparados['precio_minimo_orders'].astype(float) * 100
)

# 5. Definimos la función de categorización
def categorizar_diferencia(diferencia):
    if 0 < diferencia <= 5:
        return 'hasta_5_porciento'
    elif 5 < diferencia <= 15:
        return 'hasta_15_porciento'
    else:
        return 'mayor_15_porciento'

# 6. Aplicamos la categorización
df_precios_comparados['categoria_diferencia'] = df_precios_comparados['diferencia_porcentual'].apply(categorizar_diferencia)

# 7. Creamos el dataframe final
df_analisis_precios = df_precios_comparados[[
    'super_catalog_id',
    'point_of_sale_id',
    'vendor_id',  # Asegúrate de que esta columna viene de df_pedidos_proveedores_unique
    'precio_vendedor',
    'precio_minimo_orders',
    'diferencia_porcentual',
    'categoria_diferencia',
    'unidades_pedidas',
    'geo_zone'
]].copy()

display("\nResumen por vendor y categoría de diferencia:")

display("\nDetalle de productos por categoría:")
for categoria in ['hasta_5_porciento', 'hasta_15_porciento', 'mayor_15_porciento']:
    display(f"\nProductos con diferencia {categoria}:")
    subset = df_analisis_precios[df_analisis_precios['categoria_diferencia'] == categoria].drop_duplicates()
    display(subset[['super_catalog_id', 'vendor_id', 'diferencia_porcentual', 'precio_vendedor', 'precio_minimo_orders']])

      super_catalog_id  point_of_sale_id  precio_minimo  vendor_id
5736     7501825301967              2220          1.460       1152
4807     7501342802749              2220          1.460       1150
7069     7502227874134              2220          1.460       1150
6693     7502216796812              2220          1.460       1152
6201     7502009744457              2220          1.460       1150
...                ...               ...            ...        ...
4742     7501324402998              1679       5680.160       1275
6959     7502224227070              1679       9462.360       1156
3935     7501287699008              1610       9532.950       1156
4741     7501324402950              1679      16314.200       1275
1127     5000456033329              1751      56597.127       1275

[8562 rows x 4 columns]

ValueError: Length mismatch: Expected axis has 4 elements, new values have 2 elements

In [30]:
min_prices = (df_pedidos_proveedores_unique
              .groupby(['point_of_sale_id', 'super_catalog_id'])['precio_minimo']
              .min()
              .reset_index())
min_prices.columns = ['point_of_sale_id', 'super_catalog_id', 'precio_minimo_orders']

# 2. Hacer el merge por ambas columnas
df_precios_comparados = pd.merge(
    df_pedidos_proveedores_unique,
    min_prices,
    on=['point_of_sale_id', 'super_catalog_id'],
    how='inner'
)

# 3. Calcular diferencia porcentual
df_precios_comparados['diferencia_porcentual'] = (
    (df_precios_comparados['precio_vendedor'].astype(float) - 
     df_precios_comparados['precio_minimo_orders'].astype(float)) / 
    df_precios_comparados['precio_minimo_orders'].astype(float) * 100
)

# 4. Mantener el resto del código igual para la categorización
def categorizar_diferencia(diferencia):
    if 0 < diferencia <= 5:
        return 'hasta_5_porciento'
    elif 5 < diferencia <= 15:
        return 'hasta_15_porciento'
    else:
        return 'mayor_15_porciento'

df_precios_comparados['categoria_diferencia'] = df_precios_comparados['diferencia_porcentual'].apply(categorizar_diferencia)

# 5. Crear el dataframe final
df_analisis_precios = df_precios_comparados[[
    'super_catalog_id',
    'point_of_sale_id',
    'vendor_id',
    'precio_vendedor',
    'precio_minimo_orders',
    'diferencia_porcentual',
    'categoria_diferencia',
    'unidades_pedidas',
    'geo_zone'
]].copy()

In [31]:
min_prices[min_prices['super_catalog_id'] == 736085412734]

       point_of_sale_id  super_catalog_id  precio_minimo_orders
568                1097      736085412734                667.67
7728               1291      736085412734                643.29
8639               1311      736085412734                643.29
16991              1601      736085412734                643.29
18167              1610      736085412734                670.86
20550              1673      736085412734                634.00
22229              1679      736085412734                632.21

In [32]:
df_analisis_precios[df_analisis_precios['super_catalog_id']==736085412734]

,super_catalog_id,point_of_sale_id,vendor_id,precio_vendedor,precio_minimo_orders,diferencia_porcentual,categoria_diferencia,unidades_pedidas,geo_zone
15103,736085412734,1097,1156,733.2700,667.67,9.825213,hasta_15_porciento,1.0,Baja California Sur
15104,736085412734,1097,1159,672.0576,667.67,0.657151,hasta_5_porciento,1.0,Baja California Sur
15105,736085412734,1291,1156,733.2700,643.29,13.987471,hasta_15_porciento,1.0,Hidalgo
15106,736085412734,1291,1159,672.0576,643.29,4.471949,hasta_5_porciento,1.0,Hidalgo
15107,736085412734,1311,1156,733.2700,643.29,13.987471,hasta_15_porciento,1.0,CDMX
15108,736085412734,1311,1159,672.0576,643.29,4.471949,hasta_5_porciento,1.0,CDMX
15109,736085412734,1601,1156,733.2700,643.29,13.987471,hasta_15_porciento,2.0,Estado de México
15110,736085412734,1601,1159,672.0576,643.29,4.471949,hasta_5_porciento,2.0,Estado de México
15111,736085412734,1610,1156,733.2700,670.86,9.302984,hasta_15_porciento,1.0,Nuevo León
15112,736085412734,1610,1159,672.0576,670.86,0.178517,hasta_5_porciento,1.0,Nuevo León
15113,736085412734,1673,1156,733.2700,634.00,15.657729,mayor_15_porciento,34.0,Michoacán
15114,736085412734,1673,1159,672.0576,634.00,6.002776,hasta_15_porciento,34.0,Michoacán
15115,736085412734,1679,1156,733.2700,632.21,15.985195,mayor_15_porciento,12.0,Guanajuato
15116,736085412734,1679,1159,672.0576,632.21,6.302906,hasta_15_porciento,12.0,Guanajuato

In [33]:
df_analisis_precios[df_analisis_precios['super_catalog_id']==736085412734]

,super_catalog_id,point_of_sale_id,vendor_id,precio_vendedor,precio_minimo_orders,diferencia_porcentual,categoria_diferencia,unidades_pedidas,geo_zone
15103,736085412734,1097,1156,733.2700,667.67,9.825213,hasta_15_porciento,1.0,Baja California Sur
15104,736085412734,1097,1159,672.0576,667.67,0.657151,hasta_5_porciento,1.0,Baja California Sur
15105,736085412734,1291,1156,733.2700,643.29,13.987471,hasta_15_porciento,1.0,Hidalgo
15106,736085412734,1291,1159,672.0576,643.29,4.471949,hasta_5_porciento,1.0,Hidalgo
15107,736085412734,1311,1156,733.2700,643.29,13.987471,hasta_15_porciento,1.0,CDMX
15108,736085412734,1311,1159,672.0576,643.29,4.471949,hasta_5_porciento,1.0,CDMX
15109,736085412734,1601,1156,733.2700,643.29,13.987471,hasta_15_porciento,2.0,Estado de México
15110,736085412734,1601,1159,672.0576,643.29,4.471949,hasta_5_porciento,2.0,Estado de México
15111,736085412734,1610,1156,733.2700,670.86,9.302984,hasta_15_porciento,1.0,Nuevo León
15112,736085412734,1610,1159,672.0576,670.86,0.178517,hasta_5_porciento,1.0,Nuevo León
15113,736085412734,1673,1156,733.2700,634.00,15.657729,mayor_15_porciento,34.0,Michoacán
15114,736085412734,1673,1159,672.0576,634.00,6.002776,hasta_15_porciento,34.0,Michoacán
15115,736085412734,1679,1156,733.2700,632.21,15.985195,mayor_15_porciento,12.0,Guanajuato
15116,736085412734,1679,1159,672.0576,632.21,6.302906,hasta_15_porciento,12.0,Guanajuato

In [34]:
df_analisis_precios.to_csv('productos_clasificados_test.csv',index=False, encoding='utf-8')

In [35]:
df_analisis_precios['vendor_id'].value_counts()

vendor_id
1156    24243
1152    18646
1159    12191
1150    10021
1275     6775
1164     4669
1161     2841
1373     2133
1303     1077
1163      967
1151      647
1160      588
1153      509
1141       19
1157        7
Name: count, dtype: int64

In [36]:
min_prices[min_prices['super_catalog_id'] ==736085412734]

       point_of_sale_id  super_catalog_id  precio_minimo_orders
568                1097      736085412734                667.67
7728               1291      736085412734                643.29
8639               1311      736085412734                643.29
16991              1601      736085412734                643.29
18167              1610      736085412734                670.86
20550              1673      736085412734                634.00
22229              1679      736085412734                632.21

In [37]:
def clasificar_productos(df_analisis_precios):
    """
    Clasifica los productos en tres categorías basadas en su diferencia porcentual de precio
    y genera resúmenes estadísticos.
    
    Args:
        df_analisis_precios (pd.DataFrame): DataFrame con el análisis de precios original
        
    Returns:
        tuple: (df_productos_clasificados, resumen_clasificacion, resumen_vendor_clasificacion)
    """
    # 1. Primero creamos los subsets por categoría
    productos_5_porciento = df_analisis_precios[
        df_analisis_precios['categoria_diferencia'] == 'hasta_5_porciento'
    ].copy()

    productos_15_porciento = df_analisis_precios[
        df_analisis_precios['categoria_diferencia'] == 'hasta_15_porciento'
    ].copy()

    productos_mayor_15 = df_analisis_precios[
        df_analisis_precios['categoria_diferencia'] == 'mayor_15_porciento'
    ].copy()

    # 2. Añadimos la nueva clasificación a cada subset
    productos_5_porciento['clasificacion_producto'] = 'Producto Ganador'
    productos_15_porciento['clasificacion_producto'] = 'Producto Medianamente Ganador'
    productos_mayor_15['clasificacion_producto'] = 'Producto No Ganador'

    # 3. Concatenamos los DataFrames
    df_productos_clasificados = pd.concat([
        productos_5_porciento,
        productos_15_porciento,
        productos_mayor_15
    ], ignore_index=True)

    # 4. Reordenamos las columnas para mejor visualización
    columnas_orden = [
        'super_catalog_id',
        'point_of_sale_id',
        'vendor_id',
        'clasificacion_producto',
        'categoria_diferencia',
        'diferencia_porcentual',
        'precio_vendedor',
        'precio_minimo_orders',
        'unidades_pedidas',
        'geo_zone'
    ]

    df_productos_clasificados = df_productos_clasificados[columnas_orden]

    # 5. Agregamos algunos resúmenes útiles
    display("\nResumen de productos por clasificación:")
    resumen_clasificacion = df_productos_clasificados.groupby('clasificacion_producto').agg({
        'super_catalog_id': 'count',
        'diferencia_porcentual': ['mean', 'min', 'max'],
        'unidades_pedidas': 'sum'
    }).round(2)

    display("\nResumen por vendor y clasificación:")
    resumen_vendor_clasificacion = df_productos_clasificados.groupby(
        ['vendor_id', 'clasificacion_producto']
    ).agg({
        'super_catalog_id': 'count',
        'diferencia_porcentual': 'mean',
        'unidades_pedidas': 'sum'
    }).round(2)

    # 6. Exportamos el DataFrame clasificado a CSV
    df_productos_clasificados.to_csv('productos_clasificados.csv', index=False, encoding='utf-8')
    display("\nArchivo 'productos_clasificados.csv' ha sido creado exitosamente.")
    
    return df_productos_clasificados, resumen_clasificacion, resumen_vendor_clasificacion

In [38]:
clasificar_productos(df_analisis_precios)

'\nResumen de productos por clasificación:'

'\nResumen por vendor y clasificación:'

"\nArchivo 'productos_clasificados.csv' ha sido creado exitosamente."

(       super_catalog_id  point_of_sale_id  vendor_id clasificacion_producto  \
 0           20800753067              1477       1303       Producto Ganador
 1          637420200804              1601       1161       Producto Ganador
 2          637420200804              1601       1163       Producto Ganador
 3          637420200897              1601       1161       Producto Ganador
 4          637420200897              1601       1163       Producto Ganador
 ...                 ...               ...        ...                    ...
 85328      891671002277              1575       1156    Producto No Ganador
 85329      891671002277              1679       1156    Producto No Ganador
 85330      891671002277              1720       1156    Producto No Ganador
 85331      891671002277              2306       1156    Producto No Ganador
 85332     9002240001022              1320       1156    Producto No Ganador

       categoria_diferencia  diferencia_porcentual  precio_vendedor  \
 0        hasta_5_porciento               3.650013          80.0800
 1        hasta_5_porciento               3.896175          38.0260
 2        hasta_5_porciento               1.256831          37.0600
 3        hasta_5_porciento               3.882778          40.2338
 4        hasta_5_porciento               1.265169          39.2200
 ...                    ...                    ...              ...
 85328   mayor_15_porciento              -5.704307         534.6000
 85329   mayor_15_porciento              -5.704307         534.6000
 85330   mayor_15_porciento              -5.704307         534.6000
 85331   mayor_15_porciento              -7.808512         534.6000
 85332   mayor_15_porciento              -2.766240         110.0200

        precio_minimo_orders  unidades_pedidas          geo_zone
 0                     77.26               2.0  Estado de México
 1                     36.60               2.0  Estado de México
 2                     36.60               2.0  Estado de México
 3                     38.73               1.0  Estado de México
 4                     38.73               1.0  Estado de México
 ...                     ...               ...               ...
 85328                566.94               2.0    Aguascalientes
 85329                566.94              13.0        Guanajuato
 85330                566.94               2.0        Tamaulipas
 85331                579.88               1.0            Oaxaca
 85332                113.15               2.0            Sonora

 [85333 rows x 10 columns],
                               super_catalog_id diferencia_porcentual         \
                                          count                  mean    min
 clasificacion_producto
 Producto Ganador                         10809                  2.36   0.00
 Producto Medianamente Ganador            20854                  9.91   5.00
 Producto No Ganador                      53670                 15.01 -97.17

                                         unidades_pedidas
                                     max              sum
 clasificacion_producto
 Producto Ganador                   5.00         125645.0
 Producto Medianamente Ganador     15.00         332592.0
 Producto No Ganador            20558.11        1166330.0  ,
                                          super_catalog_id  \
 vendor_id clasificacion_producto
 1141      Producto Ganador                              1
           Producto Medianamente Ganador                 4
           Producto No Ganador                          14
 1150      Producto Ganador                            482
           Producto Medianamente Ganador              2702
           Producto No Ganador                        6837
 1151      Producto Ganador                             27
           Producto Medianamente Ganador               109
           Producto No Ganador                         511
 1152      Producto Ganador                           3692
           Producto Medianamente Ganador              3884
           Producto No Ganador                       11070
 1153      Producto Ganador                             13
           Producto Medianamente Ganador                23
           Producto No Ganador                         473
 1156      Producto Ganador                           4003
           Producto Medianamente Ganador              7669
           Producto No Ganador                       12571
 1157      Producto No Ganador                           7
 1159      Producto Ganador                            872
           Producto Medianamente Ganador              2301
           Producto No Ganador                        9018
 1160      Producto Ganador                             65
           Producto Medianamente Ganador               148
           Producto No Ganador                         375
 1161      Producto Ganador                            156
           Producto Medianamente Ganador               665
           Producto No Ganador                        2020
 1163      Producto Ganador                             78
           Producto Medianamente Ganador               345
           Producto No Ganador                         544
 1164      Producto Ganador                            657
           Producto Medianamente Ganador               662
           Producto No Ganador                        3350
 1275      Producto Ganador                            544
           Producto Medianamente Ganador              1883
           Producto No Ganador                        4348
 1303      Producto Ganador                            195
           Producto Medianamente Ganador               332
           Producto No Ganador                         550
 1373      Producto Ganador                             24
           Producto Medianamente Ganador               127
           Producto No Ganador                        1982

                                          diferencia_porcentual  \
 vendor_id clasificacion_producto
 1141      Producto Ganador                                3.64
           Producto Medianamente Ganador                   9.83
           Producto No Ganador                            24.72
 1150      Producto Ganador                                2.50
           Producto Medianamente Ganador                  10.78
           Producto No Ganador                            28.48
 1151      Producto Ganador                                2.93
           Producto Medianamente Ganador                  11.03
           Producto No Ganador                            28.13
 1152      Producto Ganador                                2.19
           Producto Medianamente Ganador                   9.05
           Producto No Ganador                            -3.44
 1153      Producto Ganador                                2.80
           Producto Medianamente Ganador                  10.26
           Producto No Ganador                           -25.48
 1156      Producto Ganador                                2.37
           Producto Medianamente Ganador                   9.74
           Producto No Ganador                            23.12
 1157      Producto No Ganador                             3.60
 1159      Producto Ganador                                2.46
           Producto Medianamente Ganador                  10.70
           Producto No Ganador                            21.67
 1160      Producto Ganador                                2.58
           Producto Medianamente Ganador                  10.35
           Producto No Ganador                             8.18
 1161      Producto Ganador                                2.73
           Producto Medianamente Ganador                  10.68
           Producto No Ganador                            16.55
 1163      Producto Ganador                                2.71
           Producto Medianamente Ganador                  10.47
           Producto No Ganador                            39.37
 1164      Producto Ganador                                2.42
           Producto Medianamente Ganador                   9.04
           Producto No Ganador                            -8.01
 1275      Producto Ganador                                2.74
           Producto Medianamente Ganador                  10.02
           Producto No Ganador                            15.38
 1303      Producto Ganador                                2.63
           Producto Medianamente Ganador                   9.74
           Producto No Ganador                             2.70
 1373      Producto Ganador                                2.65
           Producto Medianamente Ganador                  10.45
           Producto No Ganador                            30.67

                                          unidades_pedidas
 vendor_id clasificacion_producto
 1141      Producto Ganador                            2.0
           Producto Medianamente Ganador              14.0
           Producto No Ganador                        27.0
 1150      Producto Ganador                         3627.0
           Producto Medianamente Ganador           42758.0
           Producto No Ganador                    281351.0
 1151      Producto Ganador                          122.0
           Producto Medianamente Ganador             900.0
           Producto No Ganador                      6446.0
 1152      Producto Ganador                        75896.0
           Producto Medianamente Ganador          152519.0
           Producto No Ganador                    259346.0
 1153      Producto Ganador                          173.0
           Producto Medianamente Ganador             414.0
           Producto No Ganador                      4046.0
 1156      Producto Ganador                        23367.0
           Producto Medianamente Ganador           49512.0
           Producto No Ganador                    105461.0
 1157      Producto No Ganador                       112.0
 1159      Producto Ganador                         4841.0
           Producto Medianamente Ganador           17994.0
           Producto No Ganador                    251865.0
 1160      Producto Ganador                          544.0
           Producto Medianamente Ganador            2540.0
           Producto No Ganador                      4477.0
 1161      Producto Ganador                         2225.0
           Producto Medianamente Ganador            6217.0
           Producto No Ganador                     21924.0
 1163      Producto Ganador                          594.0
           Producto Medianamente Ganador            3187.0
           Producto No Ganador                      6246.0
 1164      Producto Ganador                         7069.0
           Producto Medianamente Ganador           11073.0
           Producto No Ganador                     40302.0
 1275      Producto Ganador                         5620.0
           Producto Medianamente Ganador           41335.0
           Producto No Ganador                    159389.0
 1303      Producto Ganador                         1450.0
           Producto Medianamente Ganador            3673.0
           Producto No Ganador                      6741.0
 1373      Producto Ganador                          115.0
           Producto Medianamente Ganador             456.0
           Producto No Ganador                     18597.0  )

In [39]:
import pandas as pd

In [40]:
semi_ganadores = pd.read_csv('productos_clasificados.csv')
semi_ganadores['precio_vendedor_total'] = semi_ganadores['precio_vendedor']*semi_ganadores['unidades_pedidas']

In [59]:
semi_ganadores[semi_ganadores['super_catalog_id']==7501943474895]

,super_catalog_id,point_of_sale_id,vendor_id,clasificacion_producto,categoria_diferencia,diferencia_porcentual,precio_vendedor,precio_minimo_orders,unidades_pedidas,geo_zone,precio_vendedor_total
7670,7501943474895,725,1152,Producto Ganador,hasta_5_porciento,3.085200,65.8199,63.85,2.0,CDMX,131.6398
7671,7501943474895,1170,1156,Producto Ganador,hasta_5_porciento,1.975084,67.1200,65.82,8.0,Hidalgo,536.9600
7672,7501943474895,1824,1156,Producto Ganador,hasta_5_porciento,4.597164,67.1200,64.17,2.0,Durango,134.2400
7673,7501943474895,1824,1152,Producto Ganador,hasta_5_porciento,2.571139,65.8199,64.17,2.0,Durango,131.6398
7674,7501943474895,2089,1156,Producto Ganador,hasta_5_porciento,1.975084,67.1200,65.82,12.0,Coahuila de Zaragoza,805.4400
7675,7501943474895,2136,1152,Producto Ganador,hasta_5_porciento,3.085200,65.8199,63.85,3.0,Estado de México,197.4597
25501,7501943474895,725,1156,Producto Medianamente Ganador,hasta_15_porciento,5.121378,67.1200,63.85,2.0,CDMX,134.2400
25502,7501943474895,1422,1156,Producto Medianamente Ganador,hasta_15_porciento,7.840617,67.1200,62.24,4.0,Querétaro,268.4800
25503,7501943474895,1422,1152,Producto Medianamente Ganador,hasta_15_porciento,5.751767,65.8199,62.24,4.0,Querétaro,263.2796
25504,7501943474895,2136,1156,Producto Medianamente Ganador,hasta_15_porciento,5.121378,67.1200,63.85,3.0,Estado de México,201.3600
34561,7501943474895,2136,1373,Producto No Ganador,mayor_15_porciento,51.996868,97.0500,63.85,3.0,Estado de México,291.1500
69489,7501943474895,1170,1152,Producto No Ganador,mayor_15_porciento,-0.000152,65.8199,65.82,8.0,Hidalgo,526.5592
69490,7501943474895,1448,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,6.0,Sinaloa,402.7200
69491,7501943474895,1448,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,6.0,Sinaloa,394.9194
69492,7501943474895,1741,1156,Producto No Ganador,mayor_15_porciento,-5.584470,67.1200,71.09,8.0,Chiapas,536.9600
69493,7501943474895,1741,1152,Producto No Ganador,mayor_15_porciento,-7.413279,65.8199,71.09,8.0,Chiapas,526.5592
69494,7501943474895,2089,1152,Producto No Ganador,mayor_15_porciento,-0.000152,65.8199,65.82,12.0,Coahuila de Zaragoza,789.8388
69495,7501943474895,2138,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,2.0,Jalisco,134.2400
69496,7501943474895,2138,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,2.0,Jalisco,131.6398

In [42]:
winners = pd.read_csv('top_5_productos_geozona.csv')

In [43]:
winners[winners['vendor_id']==1156]['super_catalog_id'].nunique()

534

In [44]:
winners[winners['vendor_id']==1152]['super_catalog_id'].nunique()

2189

In [45]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75000950,239442,2025-01-16 02:27:02,12.0,14.82,11,177.84,CDMX,MX
1,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.71,11,213.55,CDMX,MX
2,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.04,11,162.24,CDMX,MX
3,1182,75002794,239442,2025-01-16 02:27:02,6.0,25.64,11,153.84,CDMX,MX
4,1182,75006433,237002,2025-01-09 03:54:07,10.0,12.59,34,125.90,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
79381,2312,7502009740244,236410,2025-01-07 21:46:02,40.0,5.74,229,229.60,Michoacán,MX
79382,2312,7502216792920,236410,2025-01-07 21:46:02,40.0,45.51,24,1820.40,Michoacán,MX
79383,2312,7502227427392,236410,2025-01-07 21:46:02,20.0,18.03,42,360.60,Michoacán,MX
79384,2174,7502208891228,234979,2025-01-02 22:27:58,220.0,22.82,24,5020.40,Estado de México,MX
79385,2174,7502208891235,234979,2025-01-02 22:27:58,300.0,19.32,24,5796.00,Estado de México,MX

In [46]:
top

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor
0,1575,7501300409911,3.0,508.20,Aguascalientes,1141,Aguascalientes,508.2000,-0.1,507.6918,1523.0754,NaN,1523.0754
1,1575,891671002277,2.0,566.94,Aguascalientes,1156,México,534.6000,0.0,534.6000,1069.2000,0.0,1069.2000
2,1575,7501314702756,2.0,528.62,Aguascalientes,1156,México,524.4000,0.0,524.4000,1048.8000,0.0,1048.8000
3,1575,7501168810713,2.0,529.47,Aguascalientes,1275,México,486.2700,0.0,486.2700,972.5400,1.0,972.5400
4,1575,7501314701650,1.0,688.59,Aguascalientes,1156,México,683.1000,0.0,683.1000,683.1000,0.0,683.1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,2308,7502009748356,1.0,22.01,Yucatán,1152,México,17.6500,0.0,17.6500,17.6500,1.0,17.6500
3938,2308,7501349021747,1.0,15.55,Yucatán,1152,México,14.0698,0.0,14.0698,14.0698,1.0,14.0698
3939,2308,7501349011984,1.0,14.88,Yucatán,1152,México,13.2138,0.0,13.2138,13.2138,1.0,13.2138
3940,2308,7501349011618,1.0,14.88,Yucatán,1152,México,12.7239,0.0,12.7239,12.7239,1.0,12.7239
3941,2308,7501349029071,1.0,14.88,Yucatán,1152,México,12.5415,0.0,12.5415,12.5415,1.0,12.5415

In [47]:
top['precio_total_droguería']=top['unidades_pedidas']*top['precio_minimo']

In [48]:
top

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor,precio_total_droguería
0,1575,7501300409911,3.0,508.20,Aguascalientes,1141,Aguascalientes,508.2000,-0.1,507.6918,1523.0754,NaN,1523.0754,1524.60
1,1575,891671002277,2.0,566.94,Aguascalientes,1156,México,534.6000,0.0,534.6000,1069.2000,0.0,1069.2000,1133.88
2,1575,7501314702756,2.0,528.62,Aguascalientes,1156,México,524.4000,0.0,524.4000,1048.8000,0.0,1048.8000,1057.24
3,1575,7501168810713,2.0,529.47,Aguascalientes,1275,México,486.2700,0.0,486.2700,972.5400,1.0,972.5400,1058.94
4,1575,7501314701650,1.0,688.59,Aguascalientes,1156,México,683.1000,0.0,683.1000,683.1000,0.0,683.1000,688.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,2308,7502009748356,1.0,22.01,Yucatán,1152,México,17.6500,0.0,17.6500,17.6500,1.0,17.6500,22.01
3938,2308,7501349021747,1.0,15.55,Yucatán,1152,México,14.0698,0.0,14.0698,14.0698,1.0,14.0698,15.55
3939,2308,7501349011984,1.0,14.88,Yucatán,1152,México,13.2138,0.0,13.2138,13.2138,1.0,13.2138,14.88
3940,2308,7501349011618,1.0,14.88,Yucatán,1152,México,12.7239,0.0,12.7239,12.7239,1.0,12.7239,14.88
3941,2308,7501349029071,1.0,14.88,Yucatán,1152,México,12.5415,0.0,12.5415,12.5415,1.0,12.5415,14.88

In [49]:
top[top['point_of_sale_id']==1679]['precio_total_droguería'].sum()

np.float64(802305.7999999999)

In [50]:
top[top['precio_minimo']<top['precio_vendedor']]

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, unidades_pedidas, precio_minimo, geo_zone, vendor_id, name, base_price, percentage, precio_vendedor, precio_total_vendedor, status, valor_total_vendedor, precio_total_droguería]
Index: []

In [51]:
orders_1192 = orders[orders['point_of_sale_id']==1650]

In [52]:
top

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor,precio_total_droguería
0,1575,7501300409911,3.0,508.20,Aguascalientes,1141,Aguascalientes,508.2000,-0.1,507.6918,1523.0754,NaN,1523.0754,1524.60
1,1575,891671002277,2.0,566.94,Aguascalientes,1156,México,534.6000,0.0,534.6000,1069.2000,0.0,1069.2000,1133.88
2,1575,7501314702756,2.0,528.62,Aguascalientes,1156,México,524.4000,0.0,524.4000,1048.8000,0.0,1048.8000,1057.24
3,1575,7501168810713,2.0,529.47,Aguascalientes,1275,México,486.2700,0.0,486.2700,972.5400,1.0,972.5400,1058.94
4,1575,7501314701650,1.0,688.59,Aguascalientes,1156,México,683.1000,0.0,683.1000,683.1000,0.0,683.1000,688.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3937,2308,7502009748356,1.0,22.01,Yucatán,1152,México,17.6500,0.0,17.6500,17.6500,1.0,17.6500,22.01
3938,2308,7501349021747,1.0,15.55,Yucatán,1152,México,14.0698,0.0,14.0698,14.0698,1.0,14.0698,15.55
3939,2308,7501349011984,1.0,14.88,Yucatán,1152,México,13.2138,0.0,13.2138,13.2138,1.0,13.2138,14.88
3940,2308,7501349011618,1.0,14.88,Yucatán,1152,México,12.7239,0.0,12.7239,12.7239,1.0,12.7239,14.88
3941,2308,7501349029071,1.0,14.88,Yucatán,1152,México,12.5415,0.0,12.5415,12.5415,1.0,12.5415,14.88

In [53]:
interseccion = pd.merge(top,orders_1192, on=['super_catalog_id', 'point_of_sale_id'], how='inner')

In [54]:
interseccion

,point_of_sale_id,super_catalog_id,unidades_pedidas_x,precio_minimo_x,geo_zone_x,vendor_id_x,name,base_price,percentage,precio_vendedor,...,valor_total_vendedor,precio_total_droguería,order_id,order_date,unidades_pedidas_y,precio_minimo_y,vendor_id_y,valor_vendedor,geo_zone_y,country
0,1650,7590002037157,22.0,127.530,Chiapas,1164,México,124.0000,0.0,124.0000,...,2728.0000,2805.660,235120,2025-01-03 02:35:45,22.0,127.530,11,2805.660,Chiapas,MX
1,1650,714908101065,20.0,53.190,Chiapas,1152,México,52.9383,0.0,52.9383,...,1058.7660,1063.800,237176,2025-01-09 20:38:18,20.0,53.190,34,1063.800,Chiapas,MX
2,1650,7501258200127,25.0,33.880,Chiapas,1152,México,33.8642,0.0,33.8642,...,846.6050,847.000,245047,2025-01-30 19:50:22,25.0,33.880,10269,847.000,Chiapas,MX
3,1650,7501022150221,50.0,17.700,Chiapas,1159,México,16.3212,0.0,16.3212,...,816.0600,885.000,237176,2025-01-09 20:38:18,50.0,17.700,10021,885.000,Chiapas,MX
4,1650,7502223111073,12.0,40.625,Chiapas,1152,México,40.1775,0.0,40.1775,...,482.1300,487.500,237176,2025-01-09 20:38:18,12.0,40.625,10269,487.500,Chiapas,MX
5,1650,7501017372751,2.0,133.450,Chiapas,1152,México,133.4397,0.0,133.4397,...,266.8794,266.900,235120,2025-01-03 02:35:45,2.0,133.450,11,266.900,Chiapas,MX
6,1650,7506022316608,20.0,11.910,Chiapas,1150,México,9.6212,0.0,9.6212,...,192.4240,238.200,235120,2025-01-03 02:35:45,20.0,11.910,10021,238.200,Chiapas,MX
7,1650,7501590210075,4.0,48.000,Chiapas,1152,México,47.8629,0.0,47.8629,...,191.4516,192.000,237176,2025-01-09 20:38:18,4.0,48.000,20,192.000,Chiapas,MX
8,1650,7501130742493,4.0,34.719,Chiapas,1152,México,34.7185,0.0,34.7185,...,138.8740,138.876,237176,2025-01-09 20:38:18,4.0,34.719,10269,138.876,Chiapas,MX
9,1650,7506335300011,6.0,17.950,Chiapas,1152,México,13.4581,0.0,13.4581,...,80.7486,107.700,235120,2025-01-03 02:35:45,6.0,17.950,10709,107.700,Chiapas,MX
10,1650,7501565606100,4.0,23.580,Chiapas,1151,Chiapas,20.1800,0.0,20.1800,...,80.7200,94.320,237176,2025-01-09 20:38:18,4.0,23.580,10021,94.320,Chiapas,MX
11,1650,759684272103,5.0,16.880,Chiapas,1151,Chiapas,14.8500,0.0,14.8500,...,74.2500,84.400,235120,2025-01-03 02:35:45,5.0,16.880,10709,84.400,Chiapas,MX
12,1650,7501349020085,2.0,38.520,Chiapas,1152,México,33.6479,0.0,33.6479,...,67.2958,77.040,235120,2025-01-03 02:35:45,2.0,38.520,11,77.040,Chiapas,MX
13,1650,7501128105040,7.0,16.970,Chiapas,1152,México,9.0819,0.0,9.0819,...,63.5733,118.790,235120,2025-01-03 02:35:45,7.0,16.970,11,118.790,Chiapas,MX
14,1650,7501349025844,2.0,67.630,Chiapas,1152,México,30.5890,0.0,30.5890,...,61.1780,135.260,235120,2025-01-03 02:35:45,2.0,67.630,11,135.260,Chiapas,MX
15,1650,7501128105019,6.0,16.970,Chiapas,1152,México,9.0819,0.0,9.0819,...,54.4914,101.820,235120,2025-01-03 02:35:45,6.0,16.970,11,101.820,Chiapas,MX
16,1650,7503003406785,4.0,14.780,Chiapas,1152,México,13.4155,0.0,13.4155,...,53.6620,59.120,237176,2025-01-09 20:38:18,4.0,14.780,20,59.120,Chiapas,MX
17,1650,3614225108853,1.0,59.190,Chiapas,1152,México,46.4272,0.0,46.4272,...,46.4272,59.190,235120,2025-01-03 02:35:45,1.0,59.190,11,59.190,Chiapas,MX
18,1650,7502221182181,2.0,22.790,Chiapas,1164,México,22.5000,0.0,22.5000,...,45.0000,45.580,235120,2025-01-03 02:35:45,2.0,22.790,11,45.580,Chiapas,MX
19,1650,7501075721157,1.0,43.625,Chiapas,1152,México,43.6246,0.0,43.6246,...,43.6246,43.625,235120,2025-01-03 02:35:45,1.0,43.625,10269,43.625,Chiapas,MX
20,1650,780083139889,2.0,20.790,Chiapas,1152,México,19.8005,0.0,19.8005,...,39.6010,41.580,235120,2025-01-03 02:35:45,2.0,20.790,10709,41.580,Chiapas,MX
21,1650,7501022105191,3.0,13.620,Chiapas,1159,México,13.0848,0.0,13.0848,...,39.2544,40.860,235120,2025-01-03 02:35:45,3.0,13.620,10709,40.860,Chiapas,MX

In [55]:
interseccion['precio_total_droguería'].sum()

np.float64(7934.220999999999)

In [56]:
interseccion['valor_total_vendedor'].sum()

np.float64(7471.016299999999)

In [57]:
interseccion[]

SyntaxError: invalid syntax (2454867361.py, line 1)