In [285]:
import pandas as pd

In [286]:
top = pd.read_csv('top_5_productos_geozona.csv')
top[(top['vendor_id'] == 1303)]

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor
2045,1616,7502216792920,16.0,45.410,Estado de México,1303,Estado de México,42.90,0.0,42.90,686.40,NaN,686.40
2049,1477,780083141226,15.0,46.190,Estado de México,1303,Estado de México,41.91,0.0,41.91,628.65,1.0,628.65
2071,1616,7501573900443,91.0,5.050,Estado de México,1303,Estado de México,4.70,0.0,4.70,427.70,NaN,427.70
2132,1616,7502211783657,6.0,41.810,Estado de México,1303,Estado de México,39.50,0.0,39.50,237.00,NaN,237.00
2135,1729,7501590210075,5.0,47.910,Estado de México,1303,Estado de México,46.70,0.0,46.70,233.50,1.0,233.50
2151,1601,7502003385359,4.0,49.800,Estado de México,1303,Estado de México,49.31,0.0,49.31,197.24,NaN,197.24
2164,1616,7501537164638,9.0,19.530,Estado de México,1303,Estado de México,18.82,0.0,18.82,169.38,NaN,169.38
2175,2074,7503001009117,3.0,64.400,Estado de México,1303,Estado de México,50.81,0.0,50.81,152.43,NaN,152.43
2206,1477,7501573906407,6.0,18.870,Estado de México,1303,Estado de México,18.60,0.0,18.60,111.60,1.0,111.60
2245,1477,780083142704,5.0,18.520,Estado de México,1303,Estado de México,16.71,0.0,16.71,83.55,1.0,83.55
2255,2076,7503001008684,2.0,43.160,Estado de México,1303,Estado de México,38.39,0.0,38.39,76.78,NaN,76.78
2262,2076,7502216806337,6.0,13.590,Estado de México,1303,Estado de México,12.32,0.0,12.32,73.92,NaN,73.92
2266,1616,7503001008219,6.0,12.890,Estado de México,1303,Estado de México,12.08,0.0,12.08,72.48,NaN,72.48
2302,2119,7503001007199,2.0,34.570,Estado de México,1303,Estado de México,29.67,0.0,29.67,59.34,NaN,59.34
2308,2076,7501573909859,4.0,57.600,Estado de México,1303,Estado de México,14.40,0.0,14.40,57.60,NaN,57.60
2309,1729,7503001007090,3.0,28.800,Estado de México,1303,Estado de México,19.06,0.0,19.06,57.18,1.0,57.18
2401,1601,7502211783275,1.0,19.859,Estado de México,1303,Estado de México,19.18,0.0,19.18,19.18,NaN,19.18
2408,1601,7503001007137,1.0,16.300,Estado de México,1303,Estado de México,15.25,0.0,15.25,15.25,NaN,15.25
2413,2119,7501573905417,1.0,15.070,Estado de México,1303,Estado de México,14.31,0.0,14.31,14.31,NaN,14.31
2414,1601,7501573904403,1.0,13.770,Estado de México,1303,Estado de México,13.02,0.0,13.02,13.02,NaN,13.02
2426,2076,7501573907121,1.0,40.200,Estado de México,1303,Estado de México,7.15,0.0,7.15,7.15,NaN,7.15

In [287]:
orders = pd.read_csv('orders_delivered_pos_vendor_geozone.csv')

In [288]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,CDMX,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,CDMX,MX
2,1182,75006440,250164,2025-02-13 01:47:13,30.0,12.190,34,365.70,CDMX,MX
3,1182,75014032,252011,2025-02-18 02:08:42,2.0,74.450,12,148.90,CDMX,MX
4,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
74908,2150,785120755497,253201,2025-02-20 17:28:49,25.0,34.870,10726,871.75,CDMX,MX
74909,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,Estado de México,MX
74910,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,Estado de México,MX
74911,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,Jalisco,MX
74912,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.560,10273,1362.80,CDMX,MX

In [289]:
df_pos_address = pd.read_csv('pos_address.csv')

In [290]:
def obtener_geo_zone(address):
    partes = address.split(', ')
    return ', '.join(partes[-2:-1])
    
df_pos_address['geo_zone'] = df_pos_address['address'].apply(obtener_geo_zone)

In [291]:

df_pos_address = pd.read_csv('pos_address.csv')


def obtener_geo_zone(address):
    partes = address.split(', ')
    return ', '.join(partes[-2:-1])
    
df_pos_address['geo_zone'] = df_pos_address['address'].apply(obtener_geo_zone)
df_pedidos = pd.read_csv('orders_delivered_pos_vendor_geozone.csv')
df_pedidos = df_pedidos.drop(columns=['geo_zone'], axis=1)
df_proveedores = pd.read_csv('vendors_catalog.csv')
pos_geo_zones = df_pos_address[['point_of_sale_id','geo_zone']]
df_pedidos.rename(columns={'vendor_id':'droguería'},inplace=True)
df_proveedores['percentage'].fillna(0,inplace=True)

      point_of_sale_id      geo_zone
0                    4  Buenos Aires
1                    5  Buenos Aires
2                   10  Buenos Aires
3                   11  Buenos Aires
4                   12  Buenos Aires
...                ...           ...
2333              2341  Cundinamarca
2334              2342         Sucre
2335              2343     Querétaro
2336              2344     Chihuahua
2337              2345       Jalisco

[2338 rows x 2 columns]

In [292]:
df_pedidos.rename(columns={'vendor_id':'droguería'},inplace=True)

In [293]:
df_pedidos

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,MX
2,1182,75006440,250164,2025-02-13 01:47:13,30.0,12.190,34,365.70,MX
3,1182,75014032,252011,2025-02-18 02:08:42,2.0,74.450,12,148.90,MX
4,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,MX
...,...,...,...,...,...,...,...,...,...
74908,2150,785120755497,253201,2025-02-20 17:28:49,25.0,34.870,10726,871.75,MX
74909,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,MX
74910,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,MX
74911,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,MX
74912,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.560,10273,1362.80,MX

In [294]:
df_proveedores

       vendor_id  super_catalog_id              name  base_price  percentage
0           1141     7501037900101           Jalisco    53200.00        0.00
1           1141     7501287621009           Jalisco     1079.00        0.00
2           1141     7501043100410           Jalisco      179.00        0.00
3           1141     7501070613549           Jalisco      153.00        0.00
4           1141     7501201310026           Jalisco     2030.00        0.00
...          ...               ...               ...         ...         ...
65012       1373     7501082212129  Ciudad de México      458.33       -0.08
65013       1373     7501082212037  Ciudad de México     1600.79       -0.08
65014       1373     7501082242096  Ciudad de México     1362.69       -0.08
65015       1373     7501088507144  Ciudad de México      339.72       -0.08
65016       1373     7501088507113  Ciudad de México      374.03       -0.08

[65017 rows x 5 columns]

In [295]:
df_proveedores['percentage'].fillna(0,inplace=True)

/tmp/ipykernel_6378/3916416807.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_proveedores['percentage'].fillna(0,inplace=True)

In [296]:
df_proveedores[df_proveedores['percentage'].isna()]

Empty DataFrame
Columns: [vendor_id, super_catalog_id, name, base_price, percentage]
Index: []

In [297]:
filtro = pos_geo_zones['geo_zone'].str.contains(r'\.')
pos_geo_zones[filtro]['geo_zone'].unique()
pos_geo_zones['geo_zone'] = pos_geo_zones['geo_zone'].replace({'B.C.S.':'Baja California Sur', 'Qro.':'Querétaro', 'Jal.':'Jalisco','Pue.':'Puebla', 'Méx.':'CDMX','Oax.':'Oaxaca','Chih.':'Chihuahua','Coah.':'Coahuila de Zaragoza','Mich.':'Michoacán de Ocampo', 'Ver.':'Veracruz de Ignacio de la Llave', 'Chis.':'Chiapas','N.L.':'Nuevo León','Hgo.':'Hidalgo','Tlax.':'Tlaxcala','Tamps.':'Tamaulipas','Yuc.':'Yucatan','Mor.':'Morelos','Sin.':'Sinaloa','S.L.P.':'San Luis Potosí','Q.R.':'Quintana Roo','Dgo.':'Durango','B.C.':'Baja California','Gto.':'Guanajuato','Camp.':'Campeche','Tab.':'Tabasco','Son.':'Sonora','Gro.':'Guerrero','Zac.':'Zacatecas','Ags.':'Aguascalientes', 'Nay.':'Nayarit'})

/tmp/ipykernel_6378/1442705292.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pos_geo_zones['geo_zone'] = pos_geo_zones['geo_zone'].replace({'B.C.S.':'Baja California Sur', 'Qro.':'Querétaro', 'Jal.':'Jalisco','Pue.':'Puebla', 'Méx.':'CDMX','Oax.':'Oaxaca','Chih.':'Chihuahua','Coah.':'Coahuila de Zaragoza','Mich.':'Michoacán de Ocampo', 'Ver.':'Veracruz de Ignacio de la Llave', 'Chis.':'Chiapas','N.L.':'Nuevo León','Hgo.':'Hidalgo','Tlax.':'Tlaxcala','Tamps.':'Tamaulipas','Yuc.':'Yucatan','Mor.':'Morelos','Sin.':'Sinaloa','S.L.P.':'San Luis Potosí','Q.R.':'Quintana Roo','Dgo.':'Durango','B.C.':'Baja California','Gto.':'Guanajuato','Camp.':'Campeche','Tab.':'Tabasco','Son.':'Sonora','Gro.':'Guerrero','Zac.':'Zacatecas','Ags.':'Aguascalientes', 'Nay.':'Nayarit'})

In [298]:
df_proveedores_nacional = df_proveedores[df_proveedores['name'] == 'México'].copy()
df_proveedores_regional = df_proveedores[df_proveedores['name'] != 'México'].copy()

df_pedidos_zonas = pd.merge(df_pedidos, pos_geo_zones, on='point_of_sale_id', how='left')
df_pedidos_zonas = df_pedidos_zonas[df_pedidos_zonas['unidades_pedidas']>0]


df_pedidos_proveedores_nacional = pd.merge(df_pedidos_zonas, df_proveedores_nacional, on = 'super_catalog_id', how = 'inner')

df_pedidos_proveedores_nacional=df_pedidos_proveedores_nacional[df_pedidos_proveedores_nacional['unidades_pedidas']>0]

df_pedidos_proveedores_regional = pd.merge(df_pedidos_zonas, df_proveedores_regional, left_on = ['super_catalog_id','geo_zone'], right_on = ['super_catalog_id','name'], how = 'inner')

df_pedidos_proveedores_regional=df_pedidos_proveedores_regional[df_pedidos_proveedores_regional['unidades_pedidas']>0]


df_pedidos_proveedores_nacional['base_price'] = df_pedidos_proveedores_nacional['base_price'].astype(float)
#df_proveedores['precio_vendedor']=df_proveedores['precio_vendedor'].astype(float)
df_pedidos_proveedores_nacional['percentage'] = df_pedidos_proveedores_nacional['percentage'].astype(float)

df_pedidos_proveedores_regional['base_price'] = df_pedidos_proveedores_regional['base_price'].astype(float)
#df_proveedores['precio_vendedor']=df_proveedores['precio_vendedor'].astype(float)
df_pedidos_proveedores_regional['percentage'] = df_pedidos_proveedores_regional['percentage'].astype(float)


df_pedidos_proveedores_nacional['precio_vendedor'] = df_pedidos_proveedores_nacional['base_price'] + (df_pedidos_proveedores_nacional['base_price'] * df_pedidos_proveedores_nacional['percentage'] / 100)
df_pedidos_proveedores_regional['precio_vendedor'] = df_pedidos_proveedores_regional['base_price'] + (df_pedidos_proveedores_regional['base_price'] * df_pedidos_proveedores_regional['percentage'] / 100)


df_pedidos_proveedores = pd.concat([df_pedidos_proveedores_regional, df_pedidos_proveedores_nacional], axis=0)
df_pedidos_proveedores_unique = df_pedidos_proveedores.drop_duplicates(subset=['super_catalog_id', 'vendor_id', 'geo_zone'])

df_pedidos_proveedores_unique['precio_total_vendedor'] = df_pedidos_proveedores_unique['unidades_pedidas'].astype(float) * df_pedidos_proveedores_unique['precio_vendedor'].astype(float)

/tmp/ipykernel_6378/1689331529.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pedidos_proveedores_unique['precio_total_vendedor'] = df_pedidos_proveedores_unique['unidades_pedidas'].astype(float) * df_pedidos_proveedores_unique['precio_vendedor'].astype(float)

In [299]:
df_pedidos_proveedores_unique

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor
0,1291,354312225133,253011,2025-02-20 02:49:36,3.0,34.73,11,104.19,MX,Hidalgo,1161,Hidalgo,41.2338,0.0,41.2338,123.7014
1,1291,354312225140,246384,2025-02-04 03:02:26,20.0,23.00,55,460.00,MX,Hidalgo,1161,Hidalgo,28.5714,0.0,28.5714,571.4280
2,1291,382903249138,248705,2025-02-10 03:58:14,15.0,41.40,11,621.00,MX,Hidalgo,1161,Hidalgo,51.3987,0.0,51.3987,770.9805
3,1291,382903267781,248705,2025-02-10 03:58:14,2.0,41.40,11,82.80,MX,Hidalgo,1161,Hidalgo,51.2727,0.0,51.2727,102.5454
4,1291,382903267873,248705,2025-02-10 03:58:14,2.0,102.34,12,204.68,MX,Hidalgo,1161,Hidalgo,126.5221,0.0,126.5221,253.0442
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139064,2150,785118752637,253201,2025-02-20 17:28:49,250.0,23.95,10277,5987.50,MX,CDMX,1159,México,33.0600,0.0,33.0600,8265.0000
139085,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1152,México,21.0595,0.0,21.0595,1368.8675
139086,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1150,México,23.8854,0.0,23.8854,1552.5510
139087,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1159,México,25.2880,0.0,25.2880,1643.7200
139145,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.56,10273,1362.80,MX,CDMX,1156,México,272.5600,0.0,272.5600,1362.8000

In [300]:
df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['point_of_sale_id']==2097]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor
27454,2097,8400005656,255591,2025-02-25 22:40:49,90.0,46.23,24,4160.70,MX,Durango,1156,México,71.5100,0.0,71.5100,6435.9000
27455,2097,8400005656,255591,2025-02-25 22:40:49,90.0,46.23,24,4160.70,MX,Durango,1152,México,50.7854,0.0,50.7854,4570.6860
27456,2097,8400005823,245055,2025-01-30 19:55:14,45.0,44.49,24,2002.05,MX,Durango,1152,México,45.0482,0.0,45.0482,2027.1690
27457,2097,8400005823,245055,2025-01-30 19:55:14,45.0,44.49,24,2002.05,MX,Durango,1159,México,52.2580,0.0,52.2580,2351.6100
27458,2097,20800753067,248934,2025-02-10 19:30:59,95.0,72.30,10333,6868.50,MX,Durango,1156,México,91.1100,0.0,91.1100,8655.4500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29191,2097,821998000700,245055,2025-01-30 19:55:14,1500.0,7.34,42,11010.00,MX,Durango,1150,México,9.2285,0.0,9.2285,13842.7500
29194,2097,8400007063,253427,2025-02-20 21:17:54,114.0,44.74,10467,5100.36,MX,Durango,1152,México,47.8953,0.0,47.8953,5460.0642
29195,2097,8429420256309,248889,2025-02-10 18:33:35,1.0,302.10,11,302.10,MX,Durango,1156,México,346.5800,0.0,346.5800,346.5800
29196,2097,8430308010258,249362,2025-02-11 15:52:26,23.0,442.07,11,10167.61,MX,Durango,1156,México,518.0900,0.0,518.0900,11916.0700
29197,2097,8903726307748,244910,2025-01-30 14:52:44,7.0,389.50,42,2726.50,MX,Durango,1152,México,411.7750,0.0,411.7750,2882.4250

In [303]:
df_vendors_pos = pd.read_csv('vendor_pos_relations.csv')

df_pedidos_proveedores_unique = pd.merge(df_pedidos_proveedores_unique,df_vendors_pos,on = ['point_of_sale_id','vendor_id'], how = 'left')


df_precio_inferior_por_vendor = df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['precio_vendedor'].astype(float) < df_pedidos_proveedores_unique['precio_minimo'].astype(float)]

        # Calcular el total de productos con precio inferior para cada vendor
productos_con_precio_inferior_por_vendor = df_precio_inferior_por_vendor.groupby('vendor_id')['super_catalog_id'].nunique().reset_index()
productos_con_precio_inferior_por_vendor.columns = ['vendor_id', 'total_productos_con_precio_inferior']

        # Calcular el valor total (unidades * precio_vendedor) donde el vendor tiene un precio inferior para cada vendor
df_precio_inferior_por_vendor['valor_total_vendedor'] = df_precio_inferior_por_vendor['unidades_pedidas'].astype(float) * df_precio_inferior_por_vendor['precio_vendedor'].astype(float)

        # Calcular la suma de productos donde el vendor tiene un precio inferior para cada vendor
        # Agrupar por vendor y sumar el valor total donde el vendor tiene un precio inferior
suma_valor_total_precio_inferior_por_vendor = df_precio_inferior_por_vendor.groupby('vendor_id')['valor_total_vendedor'].sum().reset_index()
suma_valor_total_precio_inferior_por_vendor.columns = ['vendor_id', 'suma_valor_total_vendedor']


#csv_buffer_10 = productos_con_precio_inferior_por_vendor_90.to_csv(index = False)
#csv_buffer_11 = suma_valor_total_precio_inferior_por_vendor_90.to_csv(index = False)


        # PARETO BONDS

idx_min_price_per_product = df_precio_inferior_por_vendor.groupby('super_catalog_id')['precio_vendedor'].idxmin()

        # Crear un nuevo DataFrame con solo los vendors que ofrecen el menor precio por cada producto
df_mejor_precio_por_producto = df_precio_inferior_por_vendor.loc[idx_min_price_per_product].reset_index(drop=True)

/tmp/ipykernel_6378/2931396268.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_precio_inferior_por_vendor['valor_total_vendedor'] = df_precio_inferior_por_vendor['unidades_pedidas'].astype(float) * df_precio_inferior_por_vendor['precio_vendedor'].astype(float)

In [304]:
df_pedidos_proveedores_unique

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
0,1291,354312225133,253011,2025-02-20 02:49:36,3.0,34.73,11,104.19,MX,Hidalgo,1161,Hidalgo,41.2338,0.0,41.2338,123.7014,0.0
1,1291,354312225140,246384,2025-02-04 03:02:26,20.0,23.00,55,460.00,MX,Hidalgo,1161,Hidalgo,28.5714,0.0,28.5714,571.4280,0.0
2,1291,382903249138,248705,2025-02-10 03:58:14,15.0,41.40,11,621.00,MX,Hidalgo,1161,Hidalgo,51.3987,0.0,51.3987,770.9805,0.0
3,1291,382903267781,248705,2025-02-10 03:58:14,2.0,41.40,11,82.80,MX,Hidalgo,1161,Hidalgo,51.2727,0.0,51.2727,102.5454,0.0
4,1291,382903267873,248705,2025-02-10 03:58:14,2.0,102.34,12,204.68,MX,Hidalgo,1161,Hidalgo,126.5221,0.0,126.5221,253.0442,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86537,2150,785118752637,253201,2025-02-20 17:28:49,250.0,23.95,10277,5987.50,MX,CDMX,1159,México,33.0600,0.0,33.0600,8265.0000,NaN
86538,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1152,México,21.0595,0.0,21.0595,1368.8675,1.0
86539,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1150,México,23.8854,0.0,23.8854,1552.5510,NaN
86540,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1159,México,25.2880,0.0,25.2880,1643.7200,NaN
86541,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.56,10273,1362.80,MX,CDMX,1156,México,272.5600,0.0,272.5600,1362.8000,2.0

In [305]:
df_pedidos

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,MX
2,1182,75006440,250164,2025-02-13 01:47:13,30.0,12.190,34,365.70,MX
3,1182,75014032,252011,2025-02-18 02:08:42,2.0,74.450,12,148.90,MX
4,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,MX
...,...,...,...,...,...,...,...,...,...
74908,2150,785120755497,253201,2025-02-20 17:28:49,25.0,34.870,10726,871.75,MX
74909,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,MX
74910,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,MX
74911,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,MX
74912,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.560,10273,1362.80,MX

In [306]:
df_pedidos_proveedores_unique

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
0,1291,354312225133,253011,2025-02-20 02:49:36,3.0,34.73,11,104.19,MX,Hidalgo,1161,Hidalgo,41.2338,0.0,41.2338,123.7014,0.0
1,1291,354312225140,246384,2025-02-04 03:02:26,20.0,23.00,55,460.00,MX,Hidalgo,1161,Hidalgo,28.5714,0.0,28.5714,571.4280,0.0
2,1291,382903249138,248705,2025-02-10 03:58:14,15.0,41.40,11,621.00,MX,Hidalgo,1161,Hidalgo,51.3987,0.0,51.3987,770.9805,0.0
3,1291,382903267781,248705,2025-02-10 03:58:14,2.0,41.40,11,82.80,MX,Hidalgo,1161,Hidalgo,51.2727,0.0,51.2727,102.5454,0.0
4,1291,382903267873,248705,2025-02-10 03:58:14,2.0,102.34,12,204.68,MX,Hidalgo,1161,Hidalgo,126.5221,0.0,126.5221,253.0442,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86537,2150,785118752637,253201,2025-02-20 17:28:49,250.0,23.95,10277,5987.50,MX,CDMX,1159,México,33.0600,0.0,33.0600,8265.0000,NaN
86538,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1152,México,21.0595,0.0,21.0595,1368.8675,1.0
86539,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1150,México,23.8854,0.0,23.8854,1552.5510,NaN
86540,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1159,México,25.2880,0.0,25.2880,1643.7200,NaN
86541,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.56,10273,1362.80,MX,CDMX,1156,México,272.5600,0.0,272.5600,1362.8000,2.0

In [307]:
df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['super_catalog_id']==736085412734]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
12879,1291,736085412734,248364,2025-02-08 03:35:13,3.0,643.29,11,1929.87,MX,Hidalgo,1156,México,733.2700,0.0,733.2700,2199.8100,2.0
12880,1291,736085412734,248364,2025-02-08 03:35:13,3.0,643.29,11,1929.87,MX,Hidalgo,1159,México,672.0576,0.0,672.0576,2016.1728,1.0
16540,1680,736085412734,243156,2025-01-26 22:56:21,3.0,632.21,12,1896.63,MX,Guanajuato,1156,México,733.2700,0.0,733.2700,2199.8100,NaN
16541,1680,736085412734,243156,2025-01-26 22:56:21,3.0,632.21,12,1896.63,MX,Guanajuato,1159,México,672.0576,0.0,672.0576,2016.1728,1.0
21658,1311,736085412734,248713,2025-02-10 04:49:36,2.0,635.26,11,1270.52,MX,CDMX,1156,México,733.2700,0.0,733.2700,1466.5400,NaN
21659,1311,736085412734,248713,2025-02-10 04:49:36,2.0,635.26,11,1270.52,MX,CDMX,1159,México,672.0576,0.0,672.0576,1344.1152,NaN
44205,1527,736085412734,251228,2025-02-15 04:38:16,1.0,643.29,11,643.29,MX,Oaxaca,1156,México,733.2700,0.0,733.2700,733.2700,NaN
44206,1527,736085412734,251228,2025-02-15 04:38:16,1.0,643.29,11,643.29,MX,Oaxaca,1159,México,672.0576,0.0,672.0576,672.0576,NaN
56870,1601,736085412734,243175,2025-01-27 01:26:03,2.0,643.29,11,1286.58,MX,Estado de México,1156,México,733.2700,0.0,733.2700,1466.5400,NaN
56871,1601,736085412734,243175,2025-01-27 01:26:03,2.0,643.29,11,1286.58,MX,Estado de México,1159,México,672.0576,0.0,672.0576,1344.1152,NaN
73164,2340,736085412734,250075,2025-02-12 23:11:07,1.0,643.29,11,643.29,MX,Veracruz,1156,México,733.2700,0.0,733.2700,733.2700,NaN
73165,2340,736085412734,250075,2025-02-12 23:11:07,1.0,643.29,11,643.29,MX,Veracruz,1159,México,672.0576,0.0,672.0576,672.0576,NaN
77008,1673,736085412734,245603,2025-01-31 23:56:56,19.0,634.00,12,12046.00,MX,Michoacán,1156,México,733.2700,0.0,733.2700,13932.1300,1.0
77009,1673,736085412734,245603,2025-01-31 23:56:56,19.0,634.00,12,12046.00,MX,Michoacán,1159,México,672.0576,0.0,672.0576,12769.0944,NaN
79535,1610,736085412734,244091,2025-01-28 23:42:15,1.0,670.86,38,670.86,MX,Nuevo León,1156,México,733.2700,0.0,733.2700,733.2700,1.0
79536,1610,736085412734,244091,2025-01-28 23:42:15,1.0,670.86,38,670.86,MX,Nuevo León,1159,México,672.0576,0.0,672.0576,672.0576,1.0

In [308]:
df_pedidos_proveedores_unique['point_of_sale_id']

0        1291
1        1291
2        1291
3        1291
4        1291
         ...
86537    2150
86538    2150
86539    2150
86540    2150
86541    1361
Name: point_of_sale_id, Length: 86542, dtype: int64

In [309]:
df_pedidos_proveedores_unique

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
0,1291,354312225133,253011,2025-02-20 02:49:36,3.0,34.73,11,104.19,MX,Hidalgo,1161,Hidalgo,41.2338,0.0,41.2338,123.7014,0.0
1,1291,354312225140,246384,2025-02-04 03:02:26,20.0,23.00,55,460.00,MX,Hidalgo,1161,Hidalgo,28.5714,0.0,28.5714,571.4280,0.0
2,1291,382903249138,248705,2025-02-10 03:58:14,15.0,41.40,11,621.00,MX,Hidalgo,1161,Hidalgo,51.3987,0.0,51.3987,770.9805,0.0
3,1291,382903267781,248705,2025-02-10 03:58:14,2.0,41.40,11,82.80,MX,Hidalgo,1161,Hidalgo,51.2727,0.0,51.2727,102.5454,0.0
4,1291,382903267873,248705,2025-02-10 03:58:14,2.0,102.34,12,204.68,MX,Hidalgo,1161,Hidalgo,126.5221,0.0,126.5221,253.0442,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86537,2150,785118752637,253201,2025-02-20 17:28:49,250.0,23.95,10277,5987.50,MX,CDMX,1159,México,33.0600,0.0,33.0600,8265.0000,NaN
86538,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1152,México,21.0595,0.0,21.0595,1368.8675,1.0
86539,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1150,México,23.8854,0.0,23.8854,1552.5510,NaN
86540,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1159,México,25.2880,0.0,25.2880,1643.7200,NaN
86541,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.56,10273,1362.80,MX,CDMX,1156,México,272.5600,0.0,272.5600,1362.8000,2.0

In [369]:
min_prices = (df_pedidos_proveedores_unique
              .groupby(['point_of_sale_id', 'super_catalog_id'])['precio_minimo']
              .min()
              .reset_index())
min_prices.columns = ['point_of_sale_id', 'super_catalog_id', 'precio_minimo_orders']

# 2. Hacer el merge por ambas columnas
df_precios_comparados = pd.merge(
    df_pedidos_proveedores_unique,
    min_prices,
    on=['point_of_sale_id', 'super_catalog_id'],
    how='inner'
)

In [371]:
df_precios_comparados[df_precios_comparados['precio_minimo']>df_precios_comparados['precio_vendedor']]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,precio_minimo_orders
24,1291,650240069284,253011,2025-02-20 02:49:36,2.0,116.780,11,233.560,MX,Hidalgo,1161,Hidalgo,94.2857,0.0,94.2857,188.5714,0.0,116.780
30,1291,75001865,248665,2025-02-10 02:02:52,10.0,42.710,11,427.100,MX,Hidalgo,1161,Hidalgo,35.5468,0.0,35.5468,355.4680,0.0,42.710
31,1291,75001872,251467,2025-02-16 22:47:29,5.0,27.040,11,135.200,MX,Hidalgo,1161,Hidalgo,23.2078,0.0,23.2078,116.0390,0.0,27.040
32,1291,7500462746605,245673,2025-02-01 03:33:45,75.0,38.293,10277,2871.975,MX,Hidalgo,1160,Hidalgo,37.8100,0.0,37.8100,2835.7500,1.0,38.293
35,1291,7500462746698,243266,2025-01-27 04:31:43,5.0,56.410,11,282.050,MX,Hidalgo,1160,Hidalgo,46.1800,0.0,46.1800,230.9000,1.0,56.410
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86506,2391,7502009740206,253024,2025-02-20 03:22:04,2.0,22.110,42,44.220,MX,NaN,1152,México,20.5888,0.0,20.5888,41.1776,NaN,22.110
86509,2391,7502216792371,253024,2025-02-20 03:22:04,1.0,18.680,42,18.680,MX,NaN,1152,México,18.0593,0.0,18.0593,18.0593,NaN,18.680
86521,2150,7502009745102,250559,2025-02-13 22:46:21,95.0,25.600,24,2432.000,MX,CDMX,1152,México,23.1381,0.0,23.1381,2198.1195,1.0,25.600
86525,2150,7502009745591,250559,2025-02-13 22:46:21,60.0,69.130,10726,4147.800,MX,CDMX,1152,México,57.6485,0.0,57.6485,3458.9100,1.0,69.130
86527,2150,7502009746062,250559,2025-02-13 22:46:21,40.0,21.890,10726,875.600,MX,CDMX,1152,México,20.5700,0.0,20.5700,822.8000,1.0,21.890

In [310]:
min_prices = (df_pedidos_proveedores_unique
              .groupby(['point_of_sale_id', 'super_catalog_id'])['precio_minimo']
              .min()
              .reset_index())
min_prices.columns = ['point_of_sale_id', 'super_catalog_id', 'precio_minimo_orders']

# 2. Hacer el merge por ambas columnas
df_precios_comparados = pd.merge(
    df_pedidos_proveedores_unique,
    min_prices,
    on=['point_of_sale_id', 'super_catalog_id'],
    how='inner'
)

# 3. Calcular diferencia porcentual
df_precios_comparados['diferencia_porcentual'] = (
    (df_precios_comparados['precio_vendedor'].astype(float) - 
     df_precios_comparados['precio_minimo_orders'].astype(float)) / 
    df_precios_comparados['precio_minimo_orders'].astype(float) * 100
)

# 4. Mantener el resto del código igual para la categorización
def categorizar_diferencia(diferencia):
    if 0 < diferencia <= 5:
        return 'hasta_5_porciento'
    elif 5 < diferencia <= 15:
        return 'hasta_15_porciento'
    else:
        return 'mayor_15_porciento'

df_precios_comparados['categoria_diferencia'] = df_precios_comparados['diferencia_porcentual'].apply(categorizar_diferencia)

# 5. Crear el dataframe final
df_analisis_precios = df_precios_comparados[[
    'super_catalog_id',
    'point_of_sale_id',
    'vendor_id',
    'precio_vendedor',
    'precio_minimo_orders',
    'diferencia_porcentual',
    'categoria_diferencia',
    'unidades_pedidas',
    'geo_zone'
]].copy()

In [362]:
min_prices = (df_pedidos_proveedores_unique
              .groupby(['point_of_sale_id', 'super_catalog_id','droguería'])['precio_minimo']
              .min()
              .reset_index())

In [365]:
min_prices.columns = ['point_of_sale_id', 'super_catalog_id', 'droguería','precio_minimo_orders']

In [367]:
min_prices[min_prices['droguería']==10269]

       point_of_sale_id  super_catalog_id  droguería  precio_minimo_orders
21                  721     7509546653495      10269                 17.92
1068               1101     7501088507113      10269                284.26
1898               1113     7502009746352      10269                202.38
2091               1170          75050795      10269                 47.43
2094               1170        8400005809      10269                 38.32
...                 ...               ...        ...                   ...
35241              2326     7891024028827      10269                 13.06
36592              2343     5000456076692      10269               1263.82
36810              2343     7502009744082      10269                 52.20
36832              2343     7502211780359      10269                 19.80
36853              2343     7502223112261      10269                 61.74

[1930 rows x 4 columns]

In [454]:
df_vendor_dm = pd.read_csv('vendor_dm.csv')
df_vendor_dm.rename(columns={'client_id':'vendor_id'}, inplace=True)

In [455]:
df_vendor_dm.to_csv('vendors_dm.csv', index=False)
df_vendor_dm

    vendor_id                             name  drug_manufacturer_id
0        1141                         Profajal                 10249
1        1142             Distribuidora Cuenca                 10250
2        1148             Distribuidora Dimefa                 10260
3        1150                   Grupo Privarez                 10267
4        1151                        Quifamesa                 10268
5        1152            Farmaceuticos Tenorio                 10269
6        1153                            SUMFA                 10270
7        1154                          Generia                 10271
8        1155                           Alpilo                 10272
9        1156                Almacen de Drogas                 10273
10       1157                      Pixan Salud                 10274
11       1158                            Titan                 10275
12       1159             Diefsa Distribuidora                 10276
13       1160              Luman Farmaceuticos                 10277
14       1161                     Jeshua Medic                 10278
15       1162                          Sifarma                 10279
16       1163                        Quepharma                 10280
17       1164                       Farmadepot                 10281
18       1165              Distribuidora Vitau                 10282
19       1239           Vendor Ale Prueba PROD                 10402
20       1275  Aurosant Productos Farmaceutico                 10479
21       1288                    Alfa Centauro                 10540
22       1303           Distribuidora Gendifar                 10608
23       1309                Medicinas Rosario                 10637
24       1318              Cosmetica & Belleza                 10666
25       1326                 Drogueria Patria                 10685
26       1350                     Pharmaceutix                 10738
27       1358                         Dilopsan                 10761
28       1373              Grupo Farma Medical                 10778

In [456]:
df_pos_address = pd.read_csv('pos_address.csv')


def obtener_geo_zone(address):
    partes = address.split(', ')
    return ', '.join(partes[-2:-1])
    
df_pos_address['geo_zone'] = df_pos_address['address'].apply(obtener_geo_zone)
df_pedidos = pd.read_csv('orders_delivered_pos_vendor_geozone.csv')
df_pedidos = df_pedidos.drop(columns=['geo_zone'], axis=1)
df_proveedores = pd.read_csv('vendors_catalog.csv')
pos_geo_zones = df_pos_address[['point_of_sale_id','geo_zone']]
df_pedidos.rename(columns={'vendor_id':'droguería'},inplace=True)
df_proveedores['percentage'].fillna(0,inplace=True)



filtro = pos_geo_zones['geo_zone'].str.contains(r'\.')
pos_geo_zones[filtro]['geo_zone'].unique()
pos_geo_zones['geo_zone'] = pos_geo_zones['geo_zone'].replace({'B.C.S.':'Baja California Sur', 'Qro.':'Querétaro', 'Jal.':'Jalisco','Pue.':'Puebla', 'Méx.':'CDMX','Oax.':'Oaxaca','Chih.':'Chihuahua','Coah.':'Coahuila de Zaragoza','Mich.':'Michoacán de Ocampo', 'Ver.':'Veracruz de Ignacio de la Llave', 'Chis.':'Chiapas','N.L.':'Nuevo León','Hgo.':'Hidalgo','Tlax.':'Tlaxcala','Tamps.':'Tamaulipas','Yuc.':'Yucatan','Mor.':'Morelos','Sin.':'Sinaloa','S.L.P.':'San Luis Potosí','Q.R.':'Quintana Roo','Dgo.':'Durango','B.C.':'Baja California','Gto.':'Guanajuato','Camp.':'Campeche','Tab.':'Tabasco','Son.':'Sonora','Gro.':'Guerrero','Zac.':'Zacatecas','Ags.':'Aguascalientes', 'Nay.':'Nayarit'})

In [457]:
df_proveedores_nacional = df_proveedores[df_proveedores['name'] == 'México'].copy()
df_proveedores_regional = df_proveedores[df_proveedores['name'] != 'México'].copy()

df_pedidos_zonas = pd.merge(df_pedidos, pos_geo_zones, on='point_of_sale_id', how='left')
df_pedidos_zonas = df_pedidos_zonas[df_pedidos_zonas['unidades_pedidas']>0]


df_pedidos_proveedores_nacional = pd.merge(df_pedidos_zonas, df_proveedores_nacional, on = 'super_catalog_id', how = 'inner')

df_pedidos_proveedores_nacional=df_pedidos_proveedores_nacional[df_pedidos_proveedores_nacional['unidades_pedidas']>0]

df_pedidos_proveedores_regional = pd.merge(df_pedidos_zonas, df_proveedores_regional, left_on = ['super_catalog_id','geo_zone'], right_on = ['super_catalog_id','name'], how = 'inner')

df_pedidos_proveedores_regional=df_pedidos_proveedores_regional[df_pedidos_proveedores_regional['unidades_pedidas']>0]


df_pedidos_proveedores_nacional['base_price'] = df_pedidos_proveedores_nacional['base_price'].astype(float)
#df_proveedores['precio_vendedor']=df_proveedores['precio_vendedor'].astype(float)
df_pedidos_proveedores_nacional['percentage'] = df_pedidos_proveedores_nacional['percentage'].astype(float)

df_pedidos_proveedores_regional['base_price'] = df_pedidos_proveedores_regional['base_price'].astype(float)
#df_proveedores['precio_vendedor']=df_proveedores['precio_vendedor'].astype(float)
df_pedidos_proveedores_regional['percentage'] = df_pedidos_proveedores_regional['percentage'].astype(float)


df_pedidos_proveedores_nacional['precio_vendedor'] = df_pedidos_proveedores_nacional['base_price'] + (df_pedidos_proveedores_nacional['base_price'] * df_pedidos_proveedores_nacional['percentage'] / 100)
df_pedidos_proveedores_regional['precio_vendedor'] = df_pedidos_proveedores_regional['base_price'] + (df_pedidos_proveedores_regional['base_price'] * df_pedidos_proveedores_regional['percentage'] / 100)


df_pedidos_proveedores = pd.concat([df_pedidos_proveedores_regional, df_pedidos_proveedores_nacional], axis=0)
df_pedidos_proveedores_unique = df_pedidos_proveedores.drop_duplicates(subset=['super_catalog_id', 'vendor_id', 'geo_zone'])

df_pedidos_proveedores_unique['precio_total_vendedor'] = df_pedidos_proveedores_unique['unidades_pedidas'].astype(float) * df_pedidos_proveedores_unique['precio_vendedor'].astype(float)

In [458]:

df_vendors_pos = pd.read_csv('vendor_pos_relations.csv')

df_pedidos_proveedores_unique = pd.merge(df_pedidos_proveedores_unique,df_vendors_pos,on = ['point_of_sale_id','vendor_id'], how = 'left')
min_prices = (df_pedidos_proveedores_unique
              .groupby(['point_of_sale_id', 'super_catalog_id'])['precio_minimo']
              .min()
              .reset_index())
min_prices.columns = ['point_of_sale_id', 'super_catalog_id', 'precio_minimo_orders']

# 2. Uniendo con el dataframe original para comparar con los precios de cada vendedor
df_con_precios_minimos_local = pd.merge(
    df_pedidos_proveedores_unique,
    min_prices,
    on=['point_of_sale_id', 'super_catalog_id'],
    how='left'
)

# 3. Aplicando la condición de precios ganadores, pero ahora por punto de venta
# Aquí usamos el precio_minimo_orders que es específico por punto de venta
df_precios_ganadores_local = df_con_precios_minimos_local[
    df_con_precios_minimos_local['precio_minimo_orders'] > df_con_precios_minimos_local['precio_vendedor']
]

# 4. Opcionalmente, si quieres mantener los precios ganadores tanto globales como locales
df_precios_comparados_completo = df_con_precios_minimos_local.copy()
df_precios_comparados_completo['es_precio_ganador_global'] = (
    df_precios_comparados_completo['precio_minimo'] > df_precios_comparados_completo['precio_vendedor']
)
df_precios_comparados_completo['es_precio_ganador_local'] = (
    df_precios_comparados_completo['precio_minimo_orders'] > df_precios_comparados_completo['precio_vendedor']
)

# 5. Para obtener solo los productos con precio ganador local
df_productos_ganadores_local = df_precios_comparados_completo[
    df_precios_comparados_completo['es_precio_ganador_local'] == True
]

In [459]:
df_productos_ganadores_local[df_productos_ganadores_local['point_of_sale_id']==2097]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,precio_minimo_orders,es_precio_ganador_global,es_precio_ganador_local
23547,2097,354312225164,252134,2025-02-18 14:34:17,17.0,47.21,10400,802.57,MX,Durango,1164,México,40.0000,0.0,40.0000,680.0000,1.0,47.21,True,True
23549,2097,354312625018,247103,2025-02-05 18:57:33,26.0,50.63,10269,1316.38,MX,Durango,1164,México,48.0000,0.0,48.0000,1248.0000,1.0,50.63,True,True
23554,2097,4104480412103,243849,2025-01-28 15:36:44,12.0,199.90,11,2398.80,MX,Durango,1164,México,185.0000,0.0,185.0000,2220.0000,1.0,199.90,True,True
23557,2097,5415062392317,243849,2025-01-28 15:36:44,3.0,134.90,11,404.70,MX,Durango,1164,México,129.5000,0.0,129.5000,388.5000,1.0,134.90,True,True
23564,2097,650240005398,255542,2025-02-25 21:40:33,1.0,125.43,10400,125.43,MX,Durango,1164,México,115.5000,0.0,115.5000,115.5000,1.0,125.43,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25157,2097,7506577800256,247264,2025-02-05 23:07:07,23.0,60.78,10269,1397.94,MX,Durango,1152,México,60.7731,0.0,60.7731,1397.7813,1.0,60.78,True,True
25163,2097,7590002037843,247103,2025-02-05 18:57:33,106.0,78.88,11,8361.28,MX,Durango,1164,México,74.0000,0.0,74.0000,7844.0000,1.0,78.88,True,True
25185,2097,780083142827,253427,2025-02-20 21:17:54,24.0,25.18,216,604.32,MX,Durango,1152,México,24.7065,0.0,24.7065,592.9560,1.0,25.18,True,True
25187,2097,780083144296,253478,2025-02-20 21:57:28,71.0,24.75,42,1757.25,MX,Durango,1275,México,21.8300,0.0,21.8300,1549.9300,NaN,24.75,True,True
25263,2097,803288480331,252323,2025-02-18 21:16:11,10.0,29.33,10467,293.30,MX,Durango,1152,México,27.7000,0.0,27.7000,277.0000,1.0,29.33,True,True

In [460]:
df_productos_ganadores_local[df_productos_ganadores_local['precio_minimo']<df_productos_ganadores_local['precio_vendedor']]

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, order_id, order_date, unidades_pedidas, precio_minimo, droguería, valor_vendedor, country, geo_zone, vendor_id, name, base_price, percentage, precio_vendedor, precio_total_vendedor, status, precio_minimo_orders, es_precio_ganador_global, es_precio_ganador_local]
Index: []

In [461]:
df_precios_ganadores_local.columns

Index(['point_of_sale_id', 'super_catalog_id', 'order_id', 'order_date',
       'unidades_pedidas', 'precio_minimo', 'droguería', 'valor_vendedor',
       'country', 'geo_zone', 'vendor_id', 'name', 'base_price', 'percentage',
       'precio_vendedor', 'precio_total_vendedor', 'status',
       'precio_minimo_orders'],
      dtype='object')

In [462]:
top.columns

Index(['point_of_sale_id', 'super_catalog_id', 'unidades_pedidas',
       'precio_minimo', 'geo_zone', 'vendor_id', 'name', 'base_price',
       'percentage', 'precio_vendedor', 'precio_total_vendedor', 'status',
       'valor_total_vendedor', 'precio_total_droguería'],
      dtype='object')

In [463]:
df_inter = top.merge(df_precios_ganadores_local, how = 'inner')
display(df_inter)

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor,precio_total_droguería,order_id,order_date,droguería,valor_vendedor,country,precio_minimo_orders
0,1575,891671002277,2.0,566.94,Aguascalientes,1156,México,534.6000,0.0,534.6000,1069.2000,0.0,1069.2000,1133.88,243234,2025-01-27 03:37:46,11,1133.88,MX,566.94
1,1575,7501008497623,2.0,354.95,Aguascalientes,1156,México,350.0000,0.0,350.0000,700.0000,0.0,700.0000,709.90,254738,2025-02-24 14:36:10,10269,709.90,MX,354.95
2,1575,7501033958281,1.0,693.57,Aguascalientes,1141,Aguascalientes,572.0000,-0.1,571.4280,571.4280,NaN,571.4280,693.57,252038,2025-02-18 02:52:52,11,693.57,MX,693.57
3,1575,7501088507908,2.0,270.91,Aguascalientes,1156,México,253.6800,0.0,253.6800,507.3600,0.0,507.3600,541.82,252038,2025-02-18 02:52:52,20,541.82,MX,270.91
4,1575,7501314705467,1.0,445.15,Aguascalientes,1156,México,441.6000,0.0,441.6000,441.6000,0.0,441.6000,445.15,244171,2025-01-29 03:02:42,11,445.15,MX,445.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1718,2078,7503004908851,5.0,13.73,Yucatan,1152,México,13.7298,0.0,13.7298,68.6490,1.0,68.6490,68.65,243453,2025-01-27 18:28:11,10269,68.65,MX,13.73
1719,2078,7502274791743,5.0,13.05,Yucatan,1152,México,12.8644,0.0,12.8644,64.3220,1.0,64.3220,65.25,243453,2025-01-27 18:28:11,224,65.25,MX,13.05
1720,2078,7501048335169,5.0,9.20,Yucatan,1156,México,9.1500,0.0,9.1500,45.7500,0.0,45.7500,46.00,243453,2025-01-27 18:28:11,20,46.00,MX,9.20
1721,1283,7502006920021,3.0,23.52,Yucatan,1152,México,15.2004,0.0,15.2004,45.6012,1.0,45.6012,70.56,252457,2025-02-19 00:11:49,20,70.56,MX,23.52
1722,1283,7501563380224,2.0,23.63,Yucatan,1152,México,16.0592,0.0,16.0592,32.1184,1.0,32.1184,47.26,245271,2025-01-31 03:10:16,20,47.26,MX,23.63

In [464]:
top[top['point_of_sale_id']==2097]

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor,precio_total_droguería
1929,2097,7503036782023,210.0,42.12,Durango,1152,México,39.0449,0.0000,39.044900,8199.429000,1.0,8199.429000,8845.20
1932,2097,7502001165380,211.0,17.79,Durango,1152,México,13.2592,0.0000,13.259200,2797.691200,1.0,2797.691200,3753.69
1933,2097,7501573900467,377.0,11.27,Durango,1358,México,7.0000,0.0364,7.002548,2639.960596,NaN,2639.960596,4248.79
1940,2097,7503029005887,15.0,75.05,Durango,1152,México,75.0429,0.0000,75.042900,1125.643500,1.0,1125.643500,1125.75
1950,2097,7503019537589,16.0,39.67,Durango,1152,México,36.7627,0.0000,36.762700,588.203200,1.0,588.203200,634.72
1954,2097,7501124311155,9.0,43.97,Durango,1152,México,43.9658,0.0000,43.965800,395.692200,1.0,395.692200,395.73
1957,2097,7506331302187,4.0,89.60,Durango,1152,México,89.4220,0.0000,89.422000,357.688000,1.0,357.688000,358.40

In [465]:
df_precios_ganadores_local[(df_precios_ganadores_local['point_of_sale_id']==2097) & (df_precios_ganadores_local['droguería']==10401) & (df_precios_ganadores_local['super_catalog_id']==7502001165380)]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,precio_minimo_orders
24591,2097,7502001165380,250888,2025-02-14 16:24:36,211.0,17.79,10401,3753.69,MX,Durango,1152,México,12.3227,0.0,12.3227,2600.0897,1.0,17.79
24592,2097,7502001165380,250888,2025-02-14 16:24:36,211.0,17.79,10401,3753.69,MX,Durango,1150,México,13.5366,0.0,13.5366,2856.2226,1.0,17.79

In [466]:
df_pedidos_proveedores_unique

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,droguería,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
0,1291,354312225133,253011,2025-02-20 02:49:36,3.0,34.73,11,104.19,MX,Hidalgo,1161,Hidalgo,41.2338,0.0,41.2338,123.7014,0.0
1,1291,354312225140,246384,2025-02-04 03:02:26,20.0,23.00,55,460.00,MX,Hidalgo,1161,Hidalgo,28.5714,0.0,28.5714,571.4280,0.0
2,1291,382903249138,248705,2025-02-10 03:58:14,15.0,41.40,11,621.00,MX,Hidalgo,1161,Hidalgo,51.3987,0.0,51.3987,770.9805,0.0
3,1291,382903267781,248705,2025-02-10 03:58:14,2.0,41.40,11,82.80,MX,Hidalgo,1161,Hidalgo,51.2727,0.0,51.2727,102.5454,0.0
4,1291,382903267873,248705,2025-02-10 03:58:14,2.0,102.34,12,204.68,MX,Hidalgo,1161,Hidalgo,126.5221,0.0,126.5221,253.0442,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86537,2150,785118752637,253201,2025-02-20 17:28:49,250.0,23.95,10277,5987.50,MX,CDMX,1159,México,33.0600,0.0,33.0600,8265.0000,NaN
86538,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1152,México,21.0595,0.0,21.0595,1368.8675,1.0
86539,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1150,México,23.8854,0.0,23.8854,1552.5510,NaN
86540,2150,785118753887,250559,2025-02-13 22:46:21,65.0,19.15,10726,1244.75,MX,CDMX,1159,México,25.2880,0.0,25.2880,1643.7200,NaN
86541,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.56,10273,1362.80,MX,CDMX,1156,México,272.5600,0.0,272.5600,1362.8000,2.0

In [467]:
min_prices

       point_of_sale_id  super_catalog_id  precio_minimo_orders
0                   721          78924345                 25.33
1                   721      650240006364                521.24
2                   721      759684154102                 10.96
3                   721      780083149024                 34.60
4                   721      785118753771                 27.13
...                 ...               ...                   ...
38355              2404     7502216799325                 76.82
38356              2404     7502216803657                 13.55
38357              2404     7502231620079                 49.58
38358              2404     7506022315281                 15.12
38359              2416     7501573900443                  5.54

[38360 rows x 3 columns]

In [468]:
min_prices[min_prices['super_catalog_id']==7501123013340]

       point_of_sale_id  super_catalog_id  precio_minimo_orders
1507               1102     7501123013340               221.940
4155               1238     7501123013340               163.534
8428               1409     7501123013340               163.550
9457               1448     7501123013340               173.600
11320              1527     7501123013340               173.500
12101              1575     7501123013340               163.534
13618              1590     7501123013340               221.940
15239              1610     7501123013340               277.990
22164              1682     7501123013340               258.900
23171              1710     7501123013340               181.820
26304              1749     7501123013340               173.500
30549              2097     7501123013340               163.550
31299              2136     7501123013340               163.550
31892              2138     7501123013340               163.534
33270              2220     7501123013340                45.000
33501              2237     7501123013340               274.640
33596              2240     7501123013340               246.610
34985              2326     7501123013340               163.590
37132              2363     7501123013340               221.940

In [469]:
orders[(orders['super_catalog_id']==7501123013340) & (orders['point_of_sale_id']==2097) & (orders['vendor_id']==10269)]

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, order_id, order_date, unidades_pedidas, precio_minimo, vendor_id, valor_vendedor, geo_zone, country]
Index: []

In [470]:
min_prices_ = (df_pedidos_proveedores_unique
              .groupby(['super_catalog_id'])['precio_minimo']
              .min()
              .reset_index())
min_prices_.columns = ['super_catalog_id', 'precio_minimo_orders']

# 2. Hacer el merge por ambas columnas
df_precios_comparados = pd.merge(
    df_pedidos_proveedores_unique,
    min_prices_,
    on=[ 'super_catalog_id'],
    how='inner'
)

# 3. Calcular diferencia porcentual
df_precios_comparados['diferencia_porcentual'] = (
    (df_precios_comparados['precio_vendedor'].astype(float) - 
     df_precios_comparados['precio_minimo_orders'].astype(float)) / 
    df_precios_comparados['precio_minimo_orders'].astype(float) * 100
)

# 4. Mantener el resto del código igual para la categorización
def categorizar_diferencia(diferencia):
    if 0 < diferencia <= 5:
        return 'hasta_5_porciento'
    elif 5 < diferencia <= 15:
        return 'hasta_15_porciento'
    else:
        return 'mayor_15_porciento'

df_precios_comparados['categoria_diferencia'] = df_precios_comparados['diferencia_porcentual'].apply(categorizar_diferencia)

# 5. Crear el dataframe final
df_analisis_precios = df_precios_comparados[[
    'super_catalog_id',
    'point_of_sale_id',
    'vendor_id',
    'precio_vendedor',
    'precio_minimo_orders',
    'diferencia_porcentual',
    'categoria_diferencia',
    'unidades_pedidas',
    'geo_zone'
]].copy()

In [471]:
df_analisis_precios[(df_analisis_precios['super_catalog_id']==7501123013340) & (df_analisis_precios['point_of_sale_id']==2097)]

,super_catalog_id,point_of_sale_id,vendor_id,precio_vendedor,precio_minimo_orders,diferencia_porcentual,categoria_diferencia,unidades_pedidas,geo_zone
24028,7501123013340,2097,1156,342.9800,45.0,662.177778,mayor_15_porciento,137.0,Durango
24029,7501123013340,2097,1164,165.0000,45.0,266.666667,mayor_15_porciento,137.0,Durango
24030,7501123013340,2097,1152,163.5335,45.0,263.407778,mayor_15_porciento,137.0,Durango
24031,7501123013340,2097,1150,240.0321,45.0,433.404667,mayor_15_porciento,137.0,Durango
24032,7501123013340,2097,1159,189.7644,45.0,321.698667,mayor_15_porciento,137.0,Durango

In [472]:
min_prices_

      super_catalog_id  precio_minimo_orders
0             42270010                 62.73
1             42270027                 74.45
2             42270034                 74.45
3             42277392                 28.81
4             42332862                 40.38
...                ...                   ...
8336     8904091182091                329.21
8337     8904091183517                247.92
8338     8904091184712                502.21
8339     8907730000039                 72.90
8340     9002240001022                113.15

[8341 rows x 2 columns]

In [473]:
min_prices[min_prices['super_catalog_id'] == 7501123013340]

       point_of_sale_id  super_catalog_id  precio_minimo_orders
1507               1102     7501123013340               221.940
4155               1238     7501123013340               163.534
8428               1409     7501123013340               163.550
9457               1448     7501123013340               173.600
11320              1527     7501123013340               173.500
12101              1575     7501123013340               163.534
13618              1590     7501123013340               221.940
15239              1610     7501123013340               277.990
22164              1682     7501123013340               258.900
23171              1710     7501123013340               181.820
26304              1749     7501123013340               173.500
30549              2097     7501123013340               163.550
31299              2136     7501123013340               163.550
31892              2138     7501123013340               163.534
33270              2220     7501123013340                45.000
33501              2237     7501123013340               274.640
33596              2240     7501123013340               246.610
34985              2326     7501123013340               163.590
37132              2363     7501123013340               221.940

In [474]:
df_analisis_precios[(df_analisis_precios['super_catalog_id']==7501123013340) & (df_analisis_precios['point_of_sale_id']==2097)]

,super_catalog_id,point_of_sale_id,vendor_id,precio_vendedor,precio_minimo_orders,diferencia_porcentual,categoria_diferencia,unidades_pedidas,geo_zone
24028,7501123013340,2097,1156,342.9800,45.0,662.177778,mayor_15_porciento,137.0,Durango
24029,7501123013340,2097,1164,165.0000,45.0,266.666667,mayor_15_porciento,137.0,Durango
24030,7501123013340,2097,1152,163.5335,45.0,263.407778,mayor_15_porciento,137.0,Durango
24031,7501123013340,2097,1150,240.0321,45.0,433.404667,mayor_15_porciento,137.0,Durango
24032,7501123013340,2097,1159,189.7644,45.0,321.698667,mayor_15_porciento,137.0,Durango

In [475]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,CDMX,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,CDMX,MX
2,1182,75006440,250164,2025-02-13 01:47:13,30.0,12.190,34,365.70,CDMX,MX
3,1182,75014032,252011,2025-02-18 02:08:42,2.0,74.450,12,148.90,CDMX,MX
4,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
74908,2150,785120755497,253201,2025-02-20 17:28:49,25.0,34.870,10726,871.75,CDMX,MX
74909,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,Estado de México,MX
74910,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,Estado de México,MX
74911,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,Jalisco,MX
74912,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.560,10273,1362.80,CDMX,MX

In [476]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,CDMX,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,CDMX,MX
2,1182,75006440,250164,2025-02-13 01:47:13,30.0,12.190,34,365.70,CDMX,MX
3,1182,75014032,252011,2025-02-18 02:08:42,2.0,74.450,12,148.90,CDMX,MX
4,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
74908,2150,785120755497,253201,2025-02-20 17:28:49,25.0,34.870,10726,871.75,CDMX,MX
74909,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,Estado de México,MX
74910,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,Estado de México,MX
74911,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,Jalisco,MX
74912,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.560,10273,1362.80,CDMX,MX

In [477]:
orders[(orders['order_id']==249362) & (orders['vendor_id']==10269)]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
17348,2097,7501825300885,249362,2025-02-11 15:52:26,95.0,21.09,10269,2003.55,Durango,MX

In [478]:
orders[(orders['point_of_sale_id']==2097)&(orders['vendor_id']==10269)].count()

point_of_sale_id    38
super_catalog_id    38
order_id            38
order_date          38
unidades_pedidas    38
precio_minimo       38
vendor_id           38
valor_vendedor      38
geo_zone            38
country             38
dtype: int64

In [479]:
orders[(orders['super_catalog_id']==7501123013340)]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
1976,1590,7501123013340,243142,2025-01-26 21:26:09,4.0,221.940,20,887.760,CDMX,MX
12866,1682,7501123013340,255696,2025-02-26 00:36:59,20.0,258.900,12,5178.000,Guanajuato,MX
17132,2097,7501123013340,247264,2025-02-05 23:07:07,137.0,163.550,216,22406.350,Durango,MX
18219,2138,7501123013340,243758,2025-01-28 04:44:26,18.0,163.534,10444,2943.612,Jalisco,MX
20422,1710,7501123013340,246137,2025-02-03 17:01:39,10.0,181.820,224,1818.200,Colima,MX
21305,1238,7501123013340,243711,2025-01-28 03:07:56,3.0,163.534,10269,490.602,Hidalgo,MX
25167,1749,7501123013340,247214,2025-02-05 22:07:34,2.0,173.500,10034,347.000,Chiapas,MX
26206,1741,7501123013340,246712,2025-02-04 23:03:28,4.0,173.500,10031,694.000,Chiapas,MX
27528,2139,7501123013340,252582,2025-02-19 04:18:00,3.0,190.030,10444,570.090,Jalisco,MX
29889,1448,7501123013340,251529,2025-02-17 03:12:50,1.0,173.600,10412,173.600,Sinaloa,MX
30684,1409,7501123013340,255048,2025-02-24 23:02:13,1.0,163.550,10269,163.550,Puebla,MX
31508,724,7501123013340,245259,2025-01-31 02:52:02,4.0,208.690,24,834.760,CDMX,MX
34697,1527,7501123013340,244202,2025-01-29 04:38:37,5.0,173.500,10301,867.500,Oaxaca,MX
35171,2363,7501123013340,253685,2025-02-21 04:22:20,1.0,221.940,20,221.940,CDMX,MX
35838,1575,7501123013340,244171,2025-01-29 03:02:42,2.0,163.534,10269,327.068,Aguascalientes,MX
45613,1170,7501123013340,243254,2025-01-27 03:59:42,5.0,157.957,10269,789.785,Hidalgo,MX
47644,1576,7501123013340,254716,2025-02-24 13:53:45,3.0,221.940,20,665.820,CDMX,MX
52485,1518,7501123013340,247876,2025-02-07 03:14:57,2.0,274.640,12,549.280,CDMX,MX
55010,2237,7501123013340,254638,2025-02-24 02:36:58,3.0,274.640,12,823.920,Michoacán,MX
55482,2326,7501123013340,249101,2025-02-11 00:07:38,1.0,163.590,41,163.590,Morelos,MX
56203,1102,7501123013340,246402,2025-02-04 03:47:13,2.0,221.940,20,443.880,Querétaro,MX
59464,2136,7501123013340,251527,2025-02-17 03:09:39,1.0,163.550,47,163.550,Estado de México,MX
60214,2199,7501123013340,243693,2025-01-28 02:22:10,4.0,221.940,20,887.760,CDMX,MX
60526,2240,7501123013340,253384,2025-02-20 20:41:01,1.0,246.610,20,246.610,Yucatan,MX
62250,2056,7501123013340,250923,2025-02-14 18:03:03,12.0,210.000,40,2520.000,Guanajuato,MX
62899,1477,7501123013340,255250,2025-02-25 05:12:19,3.0,163.550,10269,490.650,Estado de México,MX
66569,2220,7501123013340,253576,2025-02-20 23:45:51,45.0,45.000,10856,2025.000,Chihuahua,MX
67099,1610,7501123013340,252559,2025-02-19 03:44:26,1.0,277.990,12,277.990,Nuevo León,MX
74121,2091,7501123013340,245781,2025-02-01 17:00:20,20.0,163.590,41,3271.800,Estado de México,MX

In [480]:
df_analisis_precios[df_analisis_precios['super_catalog_id']==7501123013340]

,super_catalog_id,point_of_sale_id,vendor_id,precio_vendedor,precio_minimo_orders,diferencia_porcentual,categoria_diferencia,unidades_pedidas,geo_zone
716,7501123013340,1682,1161,227.40260,45.0,405.339111,mayor_15_porciento,20.0,Guanajuato
900,7501123013340,1238,1161,227.40260,45.0,405.339111,mayor_15_porciento,3.0,Hidalgo
6154,7501123013340,1102,1161,227.40260,45.0,405.339111,mayor_15_porciento,2.0,Querétaro
6403,7501123013340,2136,1161,227.40260,45.0,405.339111,mayor_15_porciento,1.0,Estado de México
6404,7501123013340,2136,1373,207.68372,45.0,361.519378,mayor_15_porciento,1.0,Estado de México
...,...,...,...,...,...,...,...,...,...
79894,7501123013340,1610,1156,342.98000,45.0,662.177778,mayor_15_porciento,1.0,Nuevo León
79895,7501123013340,1610,1164,165.00000,45.0,266.666667,mayor_15_porciento,1.0,Nuevo León
79896,7501123013340,1610,1152,163.53350,45.0,263.407778,mayor_15_porciento,1.0,Nuevo León
79897,7501123013340,1610,1150,240.03210,45.0,433.404667,mayor_15_porciento,1.0,Nuevo León
79898,7501123013340,1610,1159,189.76440,45.0,321.698667,mayor_15_porciento,1.0,Nuevo León

In [481]:
#df_analisis_precios.to_csv('productos_clasificados_test.csv',index=False, encoding='utf-8')

In [482]:
df_analisis_precios['vendor_id'].value_counts()

vendor_id
1156    24343
1152    19264
1159    12469
1150    10256
1275     6783
1164     4807
1161     2792
1373     2116
1303     1095
1163      983
1160      589
1151      560
1153      469
1141       11
1157        5
Name: count, dtype: int64

In [483]:
min_prices[min_prices['super_catalog_id'] ==736085412734]

       point_of_sale_id  super_catalog_id  precio_minimo_orders
4971               1291      736085412734                643.29
6628               1311      736085412734                635.26
11108              1527      736085412734                643.29
14238              1601      736085412734                643.29
14973              1610      736085412734                670.86
17658              1673      736085412734                634.00
19873              1680      736085412734                632.21
35455              2340      736085412734                643.29

In [484]:
min_prices

       point_of_sale_id  super_catalog_id  precio_minimo_orders
0                   721          78924345                 25.33
1                   721      650240006364                521.24
2                   721      759684154102                 10.96
3                   721      780083149024                 34.60
4                   721      785118753771                 27.13
...                 ...               ...                   ...
38355              2404     7502216799325                 76.82
38356              2404     7502216803657                 13.55
38357              2404     7502231620079                 49.58
38358              2404     7506022315281                 15.12
38359              2416     7501573900443                  5.54

[38360 rows x 3 columns]

In [485]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,CDMX,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,CDMX,MX
2,1182,75006440,250164,2025-02-13 01:47:13,30.0,12.190,34,365.70,CDMX,MX
3,1182,75014032,252011,2025-02-18 02:08:42,2.0,74.450,12,148.90,CDMX,MX
4,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
74908,2150,785120755497,253201,2025-02-20 17:28:49,25.0,34.870,10726,871.75,CDMX,MX
74909,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,Estado de México,MX
74910,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,Estado de México,MX
74911,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,Jalisco,MX
74912,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.560,10273,1362.80,CDMX,MX

In [486]:
def clasificar_productos(df_analisis_precios):
    """
    Clasifica los productos en tres categorías basadas en su diferencia porcentual de precio
    y genera resúmenes estadísticos.
    
    Args:
        df_analisis_precios (pd.DataFrame): DataFrame con el análisis de precios original
        
    Returns:
        tuple: (df_productos_clasificados, resumen_clasificacion, resumen_vendor_clasificacion)
    """
    # 1. Primero creamos los subsets por categoría
    productos_5_porciento = df_analisis_precios[
        df_analisis_precios['categoria_diferencia'] == 'hasta_5_porciento'
    ].copy()

    productos_15_porciento = df_analisis_precios[
        df_analisis_precios['categoria_diferencia'] == 'hasta_15_porciento'
    ].copy()

    productos_mayor_15 = df_analisis_precios[
        df_analisis_precios['categoria_diferencia'] == 'mayor_15_porciento'
    ].copy()

    # 2. Añadimos la nueva clasificación a cada subset
    productos_5_porciento['clasificacion_producto'] = 'Producto Ganador'
    productos_15_porciento['clasificacion_producto'] = 'Producto Medianamente Ganador'
    productos_mayor_15['clasificacion_producto'] = 'Producto No Ganador'

    # 3. Concatenamos los DataFrames
    df_productos_clasificados = pd.concat([
        productos_5_porciento,
        productos_15_porciento,
        productos_mayor_15
    ], ignore_index=True)

    # 4. Reordenamos las columnas para mejor visualización
    columnas_orden = [
        'super_catalog_id',
        'point_of_sale_id',
        'vendor_id',
        'clasificacion_producto',
        'categoria_diferencia',
        'diferencia_porcentual',
        'precio_vendedor',
        'precio_minimo_orders',
        'unidades_pedidas',
        'geo_zone'
    ]

    df_productos_clasificados = df_productos_clasificados[columnas_orden]

    # 5. Agregamos algunos resúmenes útiles
    display("\nResumen de productos por clasificación:")
    resumen_clasificacion = df_productos_clasificados.groupby('clasificacion_producto').agg({
        'super_catalog_id': 'count',
        'diferencia_porcentual': ['mean', 'min', 'max'],
        'unidades_pedidas': 'sum'
    }).round(2)

    display("\nResumen por vendor y clasificación:")
    resumen_vendor_clasificacion = df_productos_clasificados.groupby(
        ['vendor_id', 'clasificacion_producto']
    ).agg({
        'super_catalog_id': 'count',
        'diferencia_porcentual': 'mean',
        'unidades_pedidas': 'sum'
    }).round(2)

    # 6. Exportamos el DataFrame clasificado a CSV
    df_productos_clasificados.to_csv('productos_clasificados.csv', index=False, encoding='utf-8')
    display("\nArchivo 'productos_clasificados.csv' ha sido creado exitosamente.")
    
    return df_productos_clasificados, resumen_clasificacion, resumen_vendor_clasificacion

In [487]:
clasificar_productos(df_analisis_precios)

'\nResumen de productos por clasificación:'

'\nResumen por vendor y clasificación:'

"\nArchivo 'productos_clasificados.csv' ha sido creado exitosamente."

(       super_catalog_id  point_of_sale_id  vendor_id clasificacion_producto  \
 0              75001865              1291       1161       Producto Ganador
 1         7501035908246              1291       1161       Producto Ganador
 2         7502211781745              1291       1161       Producto Ganador
 3         7502216798373              1291       1161       Producto Ganador
 4              75062910              1291       1161       Producto Ganador
 ...                 ...               ...        ...                    ...
 86537      785118752637              2150       1150    Producto No Ganador
 86538      785118752637              2150       1159    Producto No Ganador
 86539      785118753887              2150       1150    Producto No Ganador
 86540      785118753887              2150       1159    Producto No Ganador
 86541     8429420084674              1361       1156    Producto No Ganador

       categoria_diferencia  diferencia_porcentual  precio_vendedor  \
 0        hasta_5_porciento               4.534039          35.5468
 1        hasta_5_porciento               3.292302          27.1039
 2        hasta_5_porciento               4.659706          13.5325
 3        hasta_5_porciento               3.874155          12.2987
 4        hasta_5_porciento               2.223144          46.8182
 ...                    ...                    ...              ...
 86537   mayor_15_porciento              34.127563          29.4410
 86538   mayor_15_porciento              50.615034          33.0600
 86539   mayor_15_porciento              24.727937          23.8854
 86540   mayor_15_porciento              32.052219          25.2880
 86541   mayor_15_porciento              20.607107         272.5600

        precio_minimo_orders  unidades_pedidas geo_zone
 0                    34.005              10.0  Hidalgo
 1                    26.240              10.0  Hidalgo
 2                    12.930               5.0  Hidalgo
 3                    11.840              10.0  Hidalgo
 4                    45.800               5.0  Hidalgo
 ...                     ...               ...      ...
 86537                21.950             250.0     CDMX
 86538                21.950             250.0     CDMX
 86539                19.150              65.0     CDMX
 86540                19.150              65.0     CDMX
 86541               225.990               5.0     CDMX

 [86542 rows x 10 columns],
                               super_catalog_id diferencia_porcentual         \
                                          count                  mean    min
 clasificacion_producto
 Producto Ganador                          7584                  2.50   0.00
 Producto Medianamente Ganador            19237                  9.80   5.01
 Producto No Ganador                      59721                164.16 -95.45

                                        unidades_pedidas
                                    max              sum
 clasificacion_producto
 Producto Ganador                   5.0          60255.0
 Producto Medianamente Ganador     15.0         252855.0
 Producto No Ganador            55821.8         842859.0  ,
                                          super_catalog_id  \
 vendor_id clasificacion_producto
 1141      Producto Medianamente Ganador                 1
           Producto No Ganador                          10
 1150      Producto Ganador                             44
           Producto Medianamente Ganador               645
           Producto No Ganador                        9567
 1151      Producto Ganador                              9
           Producto Medianamente Ganador                21
           Producto No Ganador                         530
 1152      Producto Ganador                           2920
           Producto Medianamente Ganador              7858
           Producto No Ganador                        8486
 1153      Producto Ganador                             39
           Producto Medianamente Ganador                13
           Producto No Ganador                         417
 1156      Producto Ganador                           3228
           Producto Medianamente Ganador              6485
           Producto No Ganador                       14630
 1157      Producto Ganador                              1
           Producto No Ganador                           4
 1159      Producto Ganador                            371
           Producto Medianamente Ganador               978
           Producto No Ganador                       11120
 1160      Producto Ganador                             22
           Producto Medianamente Ganador               108
           Producto No Ganador                         459
 1161      Producto Ganador                             36
           Producto Medianamente Ganador               240
           Producto No Ganador                        2516
 1163      Producto Ganador                             17
           Producto Medianamente Ganador               128
           Producto No Ganador                         838
 1164      Producto Ganador                            593
           Producto Medianamente Ganador              1108
           Producto No Ganador                        3106
 1275      Producto Ganador                            225
           Producto Medianamente Ganador              1284
           Producto No Ganador                        5274
 1303      Producto Ganador                             73
           Producto Medianamente Ganador               337
           Producto No Ganador                         685
 1373      Producto Ganador                              6
           Producto Medianamente Ganador                31
           Producto No Ganador                        2079

                                          diferencia_porcentual  \
 vendor_id clasificacion_producto
 1141      Producto Medianamente Ganador                  12.85
           Producto No Ganador                           301.06
 1150      Producto Ganador                                2.73
           Producto Medianamente Ganador                  11.38
           Producto No Ganador                            44.95
 1151      Producto Ganador                                2.17
           Producto Medianamente Ganador                  11.68
           Producto No Ganador                            46.62
 1152      Producto Ganador                                2.33
           Producto Medianamente Ganador                   9.32
           Producto No Ganador                           133.01
 1153      Producto Ganador                                2.77
           Producto Medianamente Ganador                   6.76
           Producto No Ganador                           197.05
 1156      Producto Ganador                                2.60
           Producto Medianamente Ganador                   9.77
           Producto No Ganador                           310.97
 1157      Producto Ganador                                2.53
           Producto No Ganador                            41.85
 1159      Producto Ganador                                2.43
           Producto Medianamente Ganador                  10.84
           Producto No Ganador                           107.93
 1160      Producto Ganador                                2.49
           Producto Medianamente Ganador                  10.15
           Producto No Ganador                            36.54
 1161      Producto Ganador                                3.18
           Producto Medianamente Ganador                  10.95
           Producto No Ganador                            42.71
 1163      Producto Ganador                                2.06
           Producto Medianamente Ganador                  11.18
           Producto No Ganador                            34.44
 1164      Producto Ganador                                2.63
           Producto Medianamente Ganador                   9.47
           Producto No Ganador                           257.56
 1275      Producto Ganador                                2.86
           Producto Medianamente Ganador                  11.00
           Producto No Ganador                           224.70
 1303      Producto Ganador                                2.72
           Producto Medianamente Ganador                  10.55
           Producto No Ganador                            27.72
 1373      Producto Ganador                                2.49
           Producto Medianamente Ganador                  10.38
           Producto No Ganador                           109.72

                                          unidades_pedidas
 vendor_id clasificacion_producto
 1141      Producto Medianamente Ganador               2.0
           Producto No Ganador                        14.0
 1150      Producto Ganador                          202.0
           Producto Medianamente Ganador            4607.0
           Producto No Ganador                    210061.0
 1151      Producto Ganador                           45.0
           Producto Medianamente Ganador             127.0
           Producto No Ganador                      3642.0
 1152      Producto Ganador                        39291.0
           Producto Medianamente Ganador          169354.0
           Producto No Ganador                    124949.0
 1153      Producto Ganador                          191.0
           Producto Medianamente Ganador              49.0
           Producto No Ganador                      2649.0
 1156      Producto Ganador                        12130.0
           Producto Medianamente Ganador           29852.0
           Producto No Ganador                     92270.0
 1157      Producto Ganador                           20.0
           Producto No Ganador                         6.0
 1159      Producto Ganador                         1279.0
           Producto Medianamente Ganador            5705.0
           Producto No Ganador                    189595.0
 1160      Producto Ganador                          285.0
           Producto Medianamente Ganador            1416.0
           Producto No Ganador                      8116.0
 1161      Producto Ganador                          260.0
           Producto Medianamente Ganador            2527.0
           Producto No Ganador                     24772.0
 1163      Producto Ganador                           74.0
           Producto Medianamente Ganador            1437.0
           Producto No Ganador                     10446.0
 1164      Producto Ganador                         3809.0
           Producto Medianamente Ganador           15694.0
           Producto No Ganador                     30378.0
 1275      Producto Ganador                         1968.0
           Producto Medianamente Ganador           18688.0
           Producto No Ganador                    120401.0
 1303      Producto Ganador                          688.0
           Producto Medianamente Ganador            3268.0
           Producto No Ganador                      7700.0
 1373      Producto Ganador                           13.0
           Producto Medianamente Ganador             129.0
           Producto No Ganador                     17860.0  )

In [488]:
import pandas as pd

In [489]:
semi_ganadores = pd.read_csv('productos_clasificados.csv')
semi_ganadores['precio_vendedor_total'] = semi_ganadores['precio_vendedor']*semi_ganadores['unidades_pedidas']

In [490]:
semi_ganadores[semi_ganadores['super_catalog_id']==7501943474895]

,super_catalog_id,point_of_sale_id,vendor_id,clasificacion_producto,categoria_diferencia,diferencia_porcentual,precio_vendedor,precio_minimo_orders,unidades_pedidas,geo_zone,precio_vendedor_total
32557,7501943474895,2136,1373,Producto No Ganador,mayor_15_porciento,84.295480,97.0500,52.66,2.0,Estado de México,194.1000
35021,7501943474895,1182,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,12.0,CDMX,805.4400
35022,7501943474895,1182,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,12.0,CDMX,789.8388
38461,7501943474895,1291,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,15.0,Hidalgo,1006.8000
38462,7501943474895,1291,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,15.0,Hidalgo,987.2985
46328,7501943474895,2138,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,14.0,Jalisco,939.6800
46329,7501943474895,2138,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,14.0,Jalisco,921.4786
47822,7501943474895,1445,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,2.0,Michoacán,134.2400
47823,7501943474895,1445,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,2.0,Michoacán,131.6398
52099,7501943474895,1749,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,16.0,Chiapas,1073.9200
52100,7501943474895,1749,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,16.0,Chiapas,1053.1184
54554,7501943474895,1448,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,2.0,Sinaloa,134.2400
54555,7501943474895,1448,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,2.0,Sinaloa,131.6398
60311,7501943474895,1575,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,6.0,Aguascalientes,402.7200
60312,7501943474895,1575,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,6.0,Aguascalientes,394.9194
61876,7501943474895,2089,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,30.0,Coahuila de Zaragoza,2013.6000
61877,7501943474895,2089,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,30.0,Coahuila de Zaragoza,1974.5970
68647,7501943474895,1824,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,2.0,Durango,134.2400
68648,7501943474895,1824,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,2.0,Durango,131.6398
73451,7501943474895,2326,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,2.0,Morelos,134.2400
73452,7501943474895,2326,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,2.0,Morelos,131.6398
76933,7501943474895,2136,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,2.0,Estado de México,134.2400
76934,7501943474895,2136,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,2.0,Estado de México,131.6398
78527,7501943474895,2340,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,10.0,Veracruz,671.2000
78528,7501943474895,2340,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,10.0,Veracruz,658.1990
82950,7501943474895,1422,1156,Producto No Ganador,mayor_15_porciento,27.459172,67.1200,52.66,1.0,Querétaro,67.1200
82951,7501943474895,1422,1152,Producto No Ganador,mayor_15_porciento,24.990315,65.8199,52.66,1.0,Querétaro,65.8199

In [491]:
winners = pd.read_csv('top_5_productos_geozona.csv')

In [492]:
winners[winners['vendor_id']==1156]['super_catalog_id'].nunique()

766

In [493]:
winners[winners['vendor_id']==1152]['super_catalog_id'].nunique()

1970

In [494]:
orders

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
0,1182,75001865,244731,2025-01-30 01:21:43,5.0,42.710,11,213.55,CDMX,MX
1,1182,75001872,245977,2025-02-03 00:02:51,6.0,27.040,11,162.24,CDMX,MX
2,1182,75006440,250164,2025-02-13 01:47:13,30.0,12.190,34,365.70,CDMX,MX
3,1182,75014032,252011,2025-02-18 02:08:42,2.0,74.450,12,148.90,CDMX,MX
4,1182,75017255,245977,2025-02-03 00:02:51,5.0,91.730,11,458.65,CDMX,MX
...,...,...,...,...,...,...,...,...,...,...
74908,2150,785120755497,253201,2025-02-20 17:28:49,25.0,34.870,10726,871.75,CDMX,MX
74909,2174,7502009744129,247585,2025-02-06 18:35:52,200.0,35.350,10277,7070.00,Estado de México,MX
74910,2174,7503003738879,247573,2025-02-06 18:18:06,300.0,22.860,10277,6858.00,Estado de México,MX
74911,2175,7502208891228,249471,2025-02-11 20:37:42,1000.0,14.599,10267,14599.00,Jalisco,MX
74912,1361,8429420084674,246377,2025-02-04 02:44:53,5.0,272.560,10273,1362.80,CDMX,MX

In [495]:
top

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor,precio_total_droguería
0,1575,891671002277,2.0,566.94,Aguascalientes,1156,México,534.6000,0.00,534.600000,1069.200000,0.0,1069.200000,1133.88
1,1575,7501008497623,2.0,354.95,Aguascalientes,1156,México,350.0000,0.00,350.000000,700.000000,0.0,700.000000,709.90
2,1575,7501033958281,1.0,693.57,Aguascalientes,1141,Aguascalientes,572.0000,-0.10,571.428000,571.428000,NaN,571.428000,693.57
3,1575,7501088507908,2.0,270.91,Aguascalientes,1156,México,253.6800,0.00,253.680000,507.360000,0.0,507.360000,541.82
4,1575,7501314705467,1.0,445.15,Aguascalientes,1156,México,441.6000,0.00,441.600000,441.600000,0.0,441.600000,445.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296,2349,7501563380194,5.0,22.69,Yucatán,1152,México,20.0005,0.00,20.000500,100.002500,NaN,100.002500,113.45
4297,2349,7501836006042,4.0,39.60,Yucatán,1152,México,22.3535,0.00,22.353500,89.414000,NaN,89.414000,158.40
4298,2349,7501571201221,10.0,24.00,Yucatán,1150,México,8.6730,-0.05,8.668663,86.686635,NaN,86.686635,240.00
4299,2349,7502256040067,10.0,7.20,Yucatán,1152,México,7.0590,0.00,7.059000,70.590000,NaN,70.590000,72.00
4300,2349,7501573902850,10.0,34.00,Yucatán,1150,México,4.0238,-0.05,4.021788,40.217881,NaN,40.217881,340.00

In [496]:
top['precio_total_droguería']=top['unidades_pedidas']*top['precio_minimo']

In [497]:
top

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor,precio_total_droguería
0,1575,891671002277,2.0,566.94,Aguascalientes,1156,México,534.6000,0.00,534.600000,1069.200000,0.0,1069.200000,1133.88
1,1575,7501008497623,2.0,354.95,Aguascalientes,1156,México,350.0000,0.00,350.000000,700.000000,0.0,700.000000,709.90
2,1575,7501033958281,1.0,693.57,Aguascalientes,1141,Aguascalientes,572.0000,-0.10,571.428000,571.428000,NaN,571.428000,693.57
3,1575,7501088507908,2.0,270.91,Aguascalientes,1156,México,253.6800,0.00,253.680000,507.360000,0.0,507.360000,541.82
4,1575,7501314705467,1.0,445.15,Aguascalientes,1156,México,441.6000,0.00,441.600000,441.600000,0.0,441.600000,445.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296,2349,7501563380194,5.0,22.69,Yucatán,1152,México,20.0005,0.00,20.000500,100.002500,NaN,100.002500,113.45
4297,2349,7501836006042,4.0,39.60,Yucatán,1152,México,22.3535,0.00,22.353500,89.414000,NaN,89.414000,158.40
4298,2349,7501571201221,10.0,24.00,Yucatán,1150,México,8.6730,-0.05,8.668663,86.686635,NaN,86.686635,240.00
4299,2349,7502256040067,10.0,7.20,Yucatán,1152,México,7.0590,0.00,7.059000,70.590000,NaN,70.590000,72.00
4300,2349,7501573902850,10.0,34.00,Yucatán,1150,México,4.0238,-0.05,4.021788,40.217881,NaN,40.217881,340.00

In [498]:
top[top['point_of_sale_id']==1679]['precio_total_droguería'].sum()

np.float64(335941.12)

In [499]:
top[top['precio_minimo']<top['precio_vendedor']]

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, unidades_pedidas, precio_minimo, geo_zone, vendor_id, name, base_price, percentage, precio_vendedor, precio_total_vendedor, status, valor_total_vendedor, precio_total_droguería]
Index: []

In [500]:
top

,point_of_sale_id,super_catalog_id,unidades_pedidas,precio_minimo,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,valor_total_vendedor,precio_total_droguería
0,1575,891671002277,2.0,566.94,Aguascalientes,1156,México,534.6000,0.00,534.600000,1069.200000,0.0,1069.200000,1133.88
1,1575,7501008497623,2.0,354.95,Aguascalientes,1156,México,350.0000,0.00,350.000000,700.000000,0.0,700.000000,709.90
2,1575,7501033958281,1.0,693.57,Aguascalientes,1141,Aguascalientes,572.0000,-0.10,571.428000,571.428000,NaN,571.428000,693.57
3,1575,7501088507908,2.0,270.91,Aguascalientes,1156,México,253.6800,0.00,253.680000,507.360000,0.0,507.360000,541.82
4,1575,7501314705467,1.0,445.15,Aguascalientes,1156,México,441.6000,0.00,441.600000,441.600000,0.0,441.600000,445.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4296,2349,7501563380194,5.0,22.69,Yucatán,1152,México,20.0005,0.00,20.000500,100.002500,NaN,100.002500,113.45
4297,2349,7501836006042,4.0,39.60,Yucatán,1152,México,22.3535,0.00,22.353500,89.414000,NaN,89.414000,158.40
4298,2349,7501571201221,10.0,24.00,Yucatán,1150,México,8.6730,-0.05,8.668663,86.686635,NaN,86.686635,240.00
4299,2349,7502256040067,10.0,7.20,Yucatán,1152,México,7.0590,0.00,7.059000,70.590000,NaN,70.590000,72.00
4300,2349,7501573902850,10.0,34.00,Yucatán,1150,México,4.0238,-0.05,4.021788,40.217881,NaN,40.217881,340.00

In [501]:
from sshtunnel import SSHTunnelForwarder
import pandas as pd
import paramiko
from io import StringIO
import pymysql
import os
from dotenv import load_dotenv
load_dotenv()

False

In [502]:
ssh_host = os.getenv('SSH_HOST')
ssh_port = 22
ssh_user = os.getenv('SSH_USER')
ssh_pkey= '/home/dell/.ssh/id_rsa'
ssh_passphrase = 'hacker' # Reemplaza con tu passphrase si es necesario

# Parámetros de la base de datos
db_host = os.getenv("DB_HOST")
db_port = 3306
db_user = os.getenv("DB_USER")
db_password = os.getenv("DB_PASSWORD")
db_name = os.getenv("DB_NAME")

# Cargar la clave privada desde el objeto en memoria
my_pkey = paramiko.RSAKey.from_private_key_file(ssh_pkey, password=ssh_passphrase)

# Configurar la conexión SSH
client = paramiko.SSHClient()
client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
client.connect(hostname=ssh_host, port=ssh_port, username=ssh_user, pkey=my_pkey)

NoValidConnectionsError: [Errno None] Unable to connect to port 22 on 127.0.0.1 or ::1

In [353]:
def vendor_prices():
    with SSHTunnelForwarder(
        (ssh_host, ssh_port),
        ssh_username=ssh_user,
        ssh_pkey=my_pkey,  # Usar la clave privada de Paramiko
        remote_bind_address=(db_host, db_port)
    ) as tunnel:
        # Conectar a la base de datos usando pymysql
        connection = pymysql.connect(
            host='127.0.0.1',
            port=tunnel.local_bind_port,
            user=db_user,
            password=db_password,
            db=db_name
        )
        try:
            with connection.cursor() as cursor:
                # Especificar la consulta SQL
                query = """
SELECT vvc.vendor_id, 
vvc.super_catalog_id, 
vsz.name, 
vvc.base_price, 
vp.percentage
FROM v_vendor_catalog vvc 
join clients c on vvc.vendor_id = c.id and c.is_demo = 0 
JOIN v_prices vp on vvc.id = vp.product_id and vp.deleted_at is null 
and vp.min_price is null and vp.max_price is null
join v_price_list vpl on vpl.id = vp.price_list_id and vpl.deleted_at is null and vpl.status = 1 
JOIN v_shipping_zones vsz on vpl.delivery_zone_id = vsz.id 
WHERE vvc.deleted_at is null

                """

                # Ejecutar la consulta
                cursor.execute(query)
                
                # Obtener los resultados
                results = cursor.fetchall()

                # Convertir los resultados a un DataFrame de pandas
                v_prices = pd.DataFrame(results, columns=[
                'vendor_id', 
                'super_catalog_id',
                'geo_zone',
                'base_price',
                'percentage'
                ])
        except Exception as e:
            print(f"Error: {e}")

        finally:
            connection.close()

    return v_prices

In [354]:
vendor_price = vendor_prices()

AssertionError: IP is not a string (NoneType)

In [355]:
vendor_price = vendor_price.fillna(0)

NameError: name 'vendor_price' is not defined

In [177]:
vendor_price['super_catalog_id'] = vendor_price['super_catalog_id'].astype(str)

In [178]:
vendor_price['base_price'] = vendor_price['base_price'].astype(float)

In [179]:
vendor_price['max_price'] = vendor_price['base_price'] + vendor_price['base_price']*vendor_price['percentage']

In [180]:
vendor_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68514 entries, 0 to 68513
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   vendor_id         68514 non-null  int64
 1   super_catalog_id  68514 non-null  object
 2   geo_zone          68514 non-null  object
 3   base_price        68514 non-null  float64
 4   percentage        68514 non-null  float64
 5   max_price         68514 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 3.1+ MB

In [356]:
min_prices_global = (df_pedidos_proveedores_unique
              .groupby(['super_catalog_id'])['precio_minimo']
              .min()
              .reset_index())
min_prices_global.columns = ['super_catalog_id', 'precio_minimo_orders']

# 2. Hacer el merge por ambas columnas
df_precios_comparados = pd.merge(
    df_pedidos_proveedores_unique,
    min_prices_global,
    on=['super_catalog_id'],
    how='inner'
)

# 3. Calcular diferencia porcentual
df_precios_comparados['diferencia_porcentual'] = (
    (df_precios_comparados['precio_vendedor'].astype(float) - 
     df_precios_comparados['precio_minimo_orders'].astype(float)) / 
    df_precios_comparados['precio_minimo_orders'].astype(float) * 100
)

# 4. Mantener el resto del código igual para la categorización
def categorizar_diferencia(diferencia):
    if 0 < diferencia <= 5:
        return 'hasta_5_porciento'
    elif 5 < diferencia <= 15:
        return 'hasta_15_porciento'
    else:
        return 'mayor_15_porciento'

df_precios_comparados['categoria_diferencia'] = df_precios_comparados['diferencia_porcentual'].apply(categorizar_diferencia)

# 5. Crear el dataframe final
df_analisis_precios = df_precios_comparados[[
    'super_catalog_id',
    'point_of_sale_id',
    'vendor_id',
    'precio_vendedor',
    'precio_minimo_orders',
    'diferencia_porcentual',
    'categoria_diferencia',
    'unidades_pedidas',
    'geo_zone'
]].copy()

In [357]:
min_prices_global[min_prices_global['super_catalog_id']=='650240011351']

Empty DataFrame
Columns: [super_catalog_id, precio_minimo_orders]
Index: []

In [358]:
min_prices_global['super_catalog_id'] = min_prices_global['super_catalog_id'].astype(str)

In [186]:
vendor_price['super_catalog_id'].nunique()

15467

In [187]:
vendor_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68514 entries, 0 to 68513
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   vendor_id         68514 non-null  int64
 1   super_catalog_id  68514 non-null  object
 2   geo_zone          68514 non-null  object
 3   base_price        68514 non-null  float64
 4   percentage        68514 non-null  float64
 5   max_price         68514 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 3.1+ MB

In [188]:
min_prices_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8341 entries, 0 to 8340
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   super_catalog_id      8341 non-null   object
 1   precio_minimo_orders  8341 non-null   float64
dtypes: float64(1), object(1)
memory usage: 130.5+ KB

In [360]:
    # Primero, obtener los precios de los vendedores
    
    # Leer el CSV de precios mínimos
#df_min_prices = pd.read_csv('min_prices_pos_vendors.csv')
min_prices_global['super_catalog_id'] = min_prices_global['super_catalog_id'].astype(str)
    # Merge de los dataframes usando super_catalog_id como clave
df_merged = pd.merge(
        vendor_price[['super_catalog_id','vendor_id','max_price']],
        min_prices_global[['super_catalog_id', 'precio_minimo_orders']],
        on='super_catalog_id',
        how='inner'
    )
    
    # Calcular el precio mínimo (precio_minimo_orders - 1%)
df_merged['min_price'] = df_merged['precio_minimo_orders'] * 0.99
    
    # El precio máximo ya viene en la columna 'max_price' de df_vendors

NameError: name 'vendor_price' is not defined

In [190]:
merged= df_merged.dropna().drop_duplicates()

In [191]:
merged.isna().sum()

super_catalog_id        0
vendor_id               0
max_price               0
precio_minimo_orders    0
min_price               0
dtype: int64

In [192]:
merged.to_csv('banda_precios_actualizada.csv')

In [193]:
merged['super_catalog_id'].nunique()

8287

In [194]:
df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['super_catalog_id']==7501089803320]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
2165,1616,7501089803320,243263,2025-01-27 04:21:50,1.0,175.36,175.36,MX,Estado de México,1373,Estado de México,210.09,-0.08,209.921928,209.921928,NaN
13633,1291,7501089803320,253680,2025-02-21 04:02:11,3.0,149.06,447.18,MX,Hidalgo,1156,México,175.36,0.00,175.360000,526.080000,2.0
17239,1680,7501089803320,252489,2025-02-19 01:00:12,6.0,168.35,1010.10,MX,Guanajuato,1156,México,175.36,0.00,175.360000,1052.160000,NaN
32754,1588,7501089803320,244780,2025-01-30 02:45:03,1.0,175.36,175.36,MX,CDMX,1156,México,175.36,0.00,175.360000,175.360000,0.0
53297,1616,7501089803320,243263,2025-01-27 04:21:50,1.0,175.36,175.36,MX,Estado de México,1156,México,175.36,0.00,175.360000,175.360000,NaN

In [195]:
df_pedidos_proveedores_unique[(df_pedidos_proveedores_unique['vendor_id']==1152) & (df_pedidos_proveedores_unique['super_catalog_id']==7501089803320)]

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, order_id, order_date, unidades_pedidas, precio_minimo, valor_vendedor, country, geo_zone, vendor_id, name, base_price, percentage, precio_vendedor, precio_total_vendedor, status]
Index: []

In [196]:
orders[orders['super_catalog_id']==7501300420114]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
63076,1477,7501300420114,244845,2025-01-30 04:10:51,1.0,277.66,11,277.66,Estado de México,MX
67255,1610,7501300420114,244537,2025-01-29 23:50:20,4.0,286.25,38,1145.00,Nuevo León,MX

In [197]:
merged[merged['super_catalog_id']=='7501300420114']

      super_catalog_id  vendor_id  max_price  precio_minimo_orders  min_price
193      7501300420114       1156    286.250                277.66   274.8834
14771    7501300420114       1152    251.900                277.66   274.8834
37588    7501300420114       1373    304.934                277.66   274.8834

In [198]:
top[top['super_catalog_id']=='7501201310026']

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, unidades_pedidas, precio_minimo, geo_zone, vendor_id, name, base_price, percentage, precio_vendedor, precio_total_vendedor, status, valor_total_vendedor, precio_total_droguería]
Index: []

In [199]:
merged_filtered['vendor_id'].value_counts()

NameError: name 'merged_filtered' is not defined

In [217]:
min_prices_global[min_prices_global['super_catalog_id']== '7501201310026']

     super_catalog_id  precio_minimo_orders
3520    7501201310026               2377.38

In [218]:
# Obtener el dataframe con los rangos de precios
merged[(merged['vendor_id']==1141)&(merged['super_catalog_id']=='7501201310026')]
# Para verificar los resultados

   super_catalog_id  vendor_id  max_price  precio_minimo_orders  min_price
3     7501201310026       1141     2030.0               2377.38  2353.6062
70    7501201310026       1141     1827.0               2377.38  2353.6062

In [219]:
df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['super_catalog_id']==7501300420114]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
6714,1477,7501300420114,244845,2025-01-30 04:10:51,1.0,277.66,277.66,MX,Estado de México,1373,Estado de México,331.45,-0.08,331.18484,331.18484,1.0
65212,1097,7501300420114,242806,2025-01-24 23:39:09,1.0,286.25,286.25,MX,Baja California Sur,1156,México,286.25,0.00,286.25000,286.25000,NaN
65213,1097,7501300420114,242806,2025-01-24 23:39:09,1.0,286.25,286.25,MX,Baja California Sur,1152,México,251.90,0.00,251.90000,251.90000,1.0
66162,1477,7501300420114,244845,2025-01-30 04:10:51,1.0,277.66,277.66,MX,Estado de México,1156,México,286.25,0.00,286.25000,286.25000,1.0
66163,1477,7501300420114,244845,2025-01-30 04:10:51,1.0,277.66,277.66,MX,Estado de México,1152,México,251.90,0.00,251.90000,251.90000,1.0
72749,1610,7501300420114,244537,2025-01-29 23:50:20,4.0,286.25,1145.00,MX,Nuevo León,1156,México,286.25,0.00,286.25000,1145.00000,1.0
72750,1610,7501300420114,244537,2025-01-29 23:50:20,4.0,286.25,1145.00,MX,Nuevo León,1152,México,251.90,0.00,251.90000,1007.60000,1.0

In [220]:
top[top['super_catalog_id']==7501300420114]

Empty DataFrame
Columns: [point_of_sale_id, super_catalog_id, unidades_pedidas, precio_minimo, geo_zone, vendor_id, name, base_price, percentage, precio_vendedor, precio_total_vendedor, status, valor_total_vendedor, precio_total_droguería]
Index: []

In [221]:
orders[orders['super_catalog_id']==7501482202225]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,vendor_id,valor_vendedor,geo_zone,country
21736,1238,7501482202225,249696,2025-02-12 03:54:39,1.0,40.86,10269,40.86,Hidalgo,MX
41813,1170,7501482202225,243528,2025-01-27 21:23:16,60.0,111.60,20,6696.00,Hidalgo,MX

In [222]:
df_pedidos_proveedores_unique[df_pedidos_proveedores_unique['super_catalog_id']==7501482202225]

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status
31701,1238,7501482202225,249696,2025-02-12 03:54:39,1.0,40.86,40.86,MX,Hidalgo,1152,México,40.8716,0.0,40.8716,40.8716,1.0

In [223]:
#df_precios_comparados.to_csv('productos_clasificados.csv', index=False, encoding='utf-8')

In [224]:
df_precios_comparados[df_precios_comparados['categoria_diferencia']=='hasta_5_porciento']

,point_of_sale_id,super_catalog_id,order_id,order_date,unidades_pedidas,precio_minimo,valor_vendedor,country,geo_zone,vendor_id,name,base_price,percentage,precio_vendedor,precio_total_vendedor,status,precio_minimo_orders,diferencia_porcentual,categoria_diferencia
24,1291,650240036187,242834,2025-01-25 00:54:47,1.0,57.50,57.50,MX,Hidalgo,1161,Hidalgo,59.7403,0.0,59.7403,59.7403,0.0,57.50,3.896174,hasta_5_porciento
32,1291,75001872,251467,2025-02-16 22:47:29,2.0,27.04,54.08,MX,Hidalgo,1161,Hidalgo,23.2078,0.0,23.2078,46.4156,0.0,22.27,4.211046,hasta_5_porciento
43,1291,7501006733907,246384,2025-02-04 03:02:26,4.0,21.60,86.40,MX,Hidalgo,1161,Hidalgo,22.2597,0.0,22.2597,89.0388,0.0,21.60,3.054167,hasta_5_porciento
68,1291,7501035908246,240984,2025-01-21 04:33:05,13.0,34.32,446.16,MX,Hidalgo,1161,Hidalgo,27.1039,0.0,27.1039,352.3507,0.0,26.24,3.292302,hasta_5_porciento
213,1291,7501349028050,240543,2025-01-20 02:40:10,10.0,32.17,321.70,MX,Hidalgo,1161,Hidalgo,30.4286,0.0,30.4286,304.2860,0.0,29.65,2.625970,hasta_5_porciento
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81046,2123,7502227876435,239994,2025-01-17 15:43:50,6.0,134.14,804.84,MX,Quintana Roo,1152,México,134.1445,0.0,134.1445,804.8670,1.0,134.14,0.003355,hasta_5_porciento
81047,2123,7502240450902,239994,2025-01-17 15:43:50,4.0,112.53,450.12,MX,Quintana Roo,1152,México,112.5300,0.0,112.5300,450.1200,1.0,111.39,1.023431,hasta_5_porciento
81069,2362,7502009745669,250117,2025-02-12 23:53:26,1.0,36.60,36.60,MX,NaN,1152,México,35.8833,0.0,35.8833,35.8833,2.0,35.10,2.231624,hasta_5_porciento
81106,2150,7502009745409,250559,2025-02-13 22:46:21,10.0,15.42,154.20,MX,CDMX,1152,México,15.9721,0.0,15.9721,159.7210,1.0,15.40,3.714935,hasta_5_porciento
81121,2150,7503000422764,250559,2025-02-13 22:46:21,10.0,12.03,120.30,MX,CDMX,1152,México,12.4556,0.0,12.4556,124.5560,1.0,12.03,3.537822,hasta_5_porciento

In [225]:
min_prices_global[min_prices_global['super_catalog_id']=='7501089803320']

     super_catalog_id  precio_minimo_orders
2614    7501089803320                164.84

In [244]:
import pandas as pd
import numpy as np

def swap_price_bands(merged):
    """
    Intercambia los valores de min_price y max_price en los casos donde min_price > max_price
    
    Args:
        df (pd.DataFrame): DataFrame con las columnas min_price y max_price
        
    Returns:
        pd.DataFrame: DataFrame con los precios corregidos
    """
    # Crear una copia del dataframe para no modificar el original
    df_fixed =merged.copy()
    
    # Identificar casos donde min > max
    mask_invalid = merged['min_price'] > merged['max_price']
    
    # Guardar temporalmente los valores originales
    original_min = df_fixed.loc[mask_invalid, 'min_price'].copy()
    
    # Hacer el intercambio para los casos inválidos
    df_fixed.loc[mask_invalid, 'min_price'] = df_fixed.loc[mask_invalid, 'max_price']
    df_fixed.loc[mask_invalid, 'max_price'] = original_min
    df_fixed['min_price'] = df_fixed['min_price']*0.99
    return df_fixed

def analyze_changes(df_original, df_fixed):
    """
    Analiza los cambios realizados en las bandas de precios
    
    Args:
        df_original (pd.DataFrame): DataFrame original
        df_fixed (pd.DataFrame): DataFrame con precios corregidos
        
    Returns:
        pd.DataFrame: DataFrame con el análisis de cambios
    """
    # Identificar casos que fueron corregidos
    mask_corrected = df_original['min_price'] > df_original['max_price']
    
    # Crear DataFrame con la comparación
    comparison = pd.DataFrame({
        'super_catalog_id': df_original.loc[mask_corrected, 'super_catalog_id'],
        'vendor_id': df_original.loc[mask_corrected, 'vendor_id'],
        'original_min': df_original.loc[mask_corrected, 'min_price'],
        'original_max': df_original.loc[mask_corrected, 'max_price'],
        'new_min': df_fixed.loc[mask_corrected, 'min_price'],
        'new_max': df_fixed.loc[mask_corrected, 'max_price']
    })
    
    # Calcular diferencias
    comparison['original_diff'] = comparison['original_min'] - comparison['original_max']
    comparison['new_diff'] = comparison['new_max'] - comparison['new_min']
    
    return comparison

if __name__ == "__main__":
    # 1. Leer el archivo
    #merged = pd.read_csv('banda_precios_actualizada.csv')
    
    # 2. Aplicar la corrección
    df_fixed = swap_price_bands(merged)
    display(df_fixed)
    # 3. Analizar los cambios
    comparison = analyze_changes(merged, df_fixed)
    
    # 4. Mostrar estadísticas
    total_cases = len(comparison)
    print(f"\nTotal de casos corregidos: {total_cases}")
    
    # Mostrar algunos ejemplos
    print("\nEjemplos de correcciones (primeros 5 casos):")
    print(comparison.head().round(2))
    
    # Verificar que no quedan casos inválidos
    invalid_after = (df_fixed['min_price'] > df_fixed['max_price']).sum()
    print(f"\nCasos inválidos después de la corrección: {invalid_after}")
    
    # 5. Guardar resultados
    df_fixed.to_csv('banda_precios_actualizado.csv', index=False)
    comparison.to_csv('reporte_correcciones.csv', index=False)

,Unnamed: 0,super_catalog_id,vendor_id,max_price,precio_minimo_orders,min_price
0,0,7501287621009,1141,1079.0000,617.66,605.368566
1,1,7501043100410,1141,179.0000,149.04,146.074104
2,2,7501070613549,1141,153.0000,115.00,112.711500
3,3,7501201310026,1141,2353.6062,2377.38,2009.700000
4,4,7501165007819,1141,1393.0000,500.00,490.050000
...,...,...,...,...,...,...
31611,56409,7502211784036,1159,46.3072,33.40,32.735340
31612,56410,7502009747199,1159,77.7200,53.81,52.739181
31613,56411,7501082212037,1159,806.7452,581.18,569.614518
31614,56412,7501088507168,1159,378.1600,364.68,357.422868
31615,56413,7501088509032,1159,633.8936,520.32,509.965632

Total de casos corregidos: 3401

Ejemplos de correcciones (primeros 5 casos):
    super_catalog_id  vendor_id  original_min  original_max  new_min  new_max  \
3      7501201310026       1141       2353.61       2030.00  2009.70  2353.61
8      7501064550768       1141        320.46        292.00   289.08   320.46
15     7501125152870       1141        888.38        450.00   445.50   888.38
17     7501123010608       1141        386.96        383.05   379.22   386.96
18     7501324402820       1141       4007.72       1700.00  1683.00  4007.72

    original_diff  new_diff
3          323.61    343.91
8           28.46     31.38
15         438.38    442.88
17           3.91      7.74
18        2307.72   2324.72

Casos inválidos después de la corrección: 0

In [245]:
df_fixed

,Unnamed: 0,super_catalog_id,vendor_id,max_price,precio_minimo_orders,min_price
0,0,7501287621009,1141,1079.0000,617.66,605.368566
1,1,7501043100410,1141,179.0000,149.04,146.074104
2,2,7501070613549,1141,153.0000,115.00,112.711500
3,3,7501201310026,1141,2353.6062,2377.38,2009.700000
4,4,7501165007819,1141,1393.0000,500.00,490.050000
...,...,...,...,...,...,...
31611,56409,7502211784036,1159,46.3072,33.40,32.735340
31612,56410,7502009747199,1159,77.7200,53.81,52.739181
31613,56411,7501082212037,1159,806.7452,581.18,569.614518
31614,56412,7501088507168,1159,378.1600,364.68,357.422868
31615,56413,7501088509032,1159,633.8936,520.32,509.965632

In [ ]:
df_fixed.drop_duplicates()

In [238]:
df_fixed[df_fixed['min_price'] < df_fixed['max_price']]

,Unnamed: 0,super_catalog_id,vendor_id,max_price,precio_minimo_orders,min_price
0,0,7501287621009,1141,1079.0000,617.66,611.4834
1,1,7501043100410,1141,179.0000,149.04,147.5496
2,2,7501070613549,1141,153.0000,115.00,113.8500
3,3,7501201310026,1141,2353.6062,2377.38,2030.0000
4,4,7501165007819,1141,1393.0000,500.00,495.0000
...,...,...,...,...,...,...
31611,56409,7502211784036,1159,46.3072,33.40,33.0660
31612,56410,7502009747199,1159,77.7200,53.81,53.2719
31613,56411,7501082212037,1159,806.7452,581.18,575.3682
31614,56412,7501088507168,1159,378.1600,364.68,361.0332
31615,56413,7501088509032,1159,633.8936,520.32,515.1168

In [243]:
pd.read_csv('banda_precios_actualizada.csv')

,Unnamed: 0,super_catalog_id,vendor_id,max_price,precio_minimo_orders,min_price
0,0,7501287621009,1141,1079.0000,617.66,605.368566
1,1,7501043100410,1141,179.0000,149.04,146.074104
2,2,7501070613549,1141,153.0000,115.00,112.711500
3,3,7501201310026,1141,2353.6062,2377.38,2009.700000
4,4,7501165007819,1141,1393.0000,500.00,490.050000
...,...,...,...,...,...,...
31611,56409,7502211784036,1159,46.3072,33.40,32.735340
31612,56410,7502009747199,1159,77.7200,53.81,52.739181
31613,56411,7501082212037,1159,806.7452,581.18,569.614518
31614,56412,7501088507168,1159,378.1600,364.68,357.422868
31615,56413,7501088509032,1159,633.8936,520.32,509.965632

In [82]:
orders[orders['point_of_sale_id']==2097]['vendor_id'].value_

vendor_id
42       178
10467     69
10347     60
10397     43
10401     34
11        34
10400     34
10432     33
10269     33
10345     29
216       29
39        29
10346     12
12        10
10333     10
24         9
20         9
10396      9
19         6
10557      5
10332      4
224        3
40         2
Name: count, dtype: int64